Repository amblelabs/ait, changes with the labels that .github/labeler.yml gives for each.
All labels: C: Textures, C: Structures, A: Tardis Components, A: Engine, A: Console, A: Datagen, A: Admin Tooling, C: Audio

fix: readd psychic paper fmt
  src/main/java/dev/amble/ait/client/animation/machines/ToyotaSpinningRotorAnimation.java
  src/main/java/dev/amble/ait/client/models/machines/SpinningRotorModel.java
  src/main/java/dev/amble/ait/client/models/machines/ToyotaSpinningRotorModel.java
  src/main/java/dev/amble/ait/client/renderers/machines/ToyotaSpinningRotorRenderer.java
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/blockentities/ToyotaSpinningRotorBlockEntity.java
  src/main/java/dev/amble/ait/core/item/PsychpaperItem.java
Labels: none

fmt
  src/main/java/dev/amble/ait/core/blockentities/ToyotaSpinningRotorBlockEntity.java
Labels: none

fix: updated gallifreyan (it said gay now it says ait) (casually pulling a white house)
  src/main/resources/assets/ait/textures/blockentities/machines/toyota_spinning_rotor.png
Labels: C: Textures

fix: readd new animations, animate the rotor, and fix the hitbox
  src/main/java/dev/amble/ait/client/animation/machines/ToyotaSpinningRotorAnimation.java
  src/main/java/dev/amble/ait/client/models/machines/SpinningRotorModel.java
  src/main/java/dev/amble/ait/client/models/machines/ToyotaSpinningRotorModel.java
  src/main/java/dev/amble/ait/client/renderers/machines/ToyotaSpinningRotorRenderer.java
  src/main/java/dev/amble/ait/core/blockentities/ToyotaSpinningRotorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ToyotaSpinningRotorBlock.java
Labels: none

fix: animations and the ticking for the block entity works now
  src/main/java/dev/amble/ait/client/models/machines/SpinningRotorModel.java
  src/main/java/dev/amble/ait/client/models/machines/ToyotaSpinningRotorModel.java
  src/main/java/dev/amble/ait/client/renderers/machines/ToyotaSpinningRotorRenderer.java
  src/main/java/dev/amble/ait/core/blockentities/ToyotaSpinningRotorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ToyotaSpinningRotorBlock.java
Labels: none

feat: addition of ticking sound
  src/main/java/dev/amble/ait/client/models/machines/SpinningRotorModel.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/blockentities/ToyotaSpinningRotorBlockEntity.java
  src/main/resources/assets/ait/sounds/tardis/ticking_end.ogg
  src/main/resources/assets/ait/sounds/tardis/ticking_loop.ogg
  src/main/resources/assets/ait/sounds/tardis/ticking_start.ogg
Labels: C: Audio

add wanderer box translation
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen

add ouro exclusive exterior variant
  src/main/java/dev/amble/ait/client/screens/MonitorScreen.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/booth/BoothWandererVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/booth/client/ClientBoothWandererVariant.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ClientExteriorVariantRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ExteriorVariantRegistry.java
  src/main/resources/assets/ait/textures/blockentities/exteriors/booth/booth_wanderer.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/booth/booth_wanderer_emission.png
Labels: C: Textures

agdfgdfio
  README.md
  build.gradle
  gradle.properties
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/compat/Compat.java
  src/main/java/dev/amble/ait/compat/immersive/PortalsHandler.java
  src/main/java/dev/amble/ait/compat/immersive/TardisPortal.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
  src/main/resources/fabric.mod.json
Labels: none

Temporarily disabled the stencil buffer for BOTI testing
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
Labels: none

Have at it
  src/main/java/dev/amble/ait/client/boti/BOTIChunkVBO.java
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/core/tardis/util/network/s2c/BOTIDataS2CPacket.java
Labels: A: Tardis Components

fix: positioning for boti is utter bonkers
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/client/renderers/entities/ControlEntityRenderer.java
Labels: none

.github/labeler.yml:

"C: Textures":
  - changed-files:
      - any-glob-to-any-file: 'src/main/resources/assets/*/textures/**/*.png'

"C: Structures":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/main/resources/data/ait/structures/**/*.nbt'

#"Changes: UI":
#  - changed-files:
#      - any-glob-to-any-file: '**/*.xml*'

#"Changes: Shaders":
#  - changed-files:
#      - any-glob-to-any-file: '**/*.glsl'
"A: Tardis Components":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/main/java/dev/amble/ait/api/tardis/**/*.java'
          - 'src/main/java/dev/amble/ait/core/tardis/**/*.java'

"A: Engine":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/main/java/dev/amble/ait/core/engine/**/*.java'
          - 'src/main/java/dev/amble/ait/core/blocks/EngineBlock.java'
          - 'src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java'

"A: Console":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/main/java/dev/amble/ait/core/tardis/control/**/*.java'
          - 'src/main/java/dev/amble/ait/core/blocks/ConsoleBlock.java'
          - 'src/main/java/dev/amble/ait/core/blockentities/ConsoleBlockEntity.java'

"A: Datagen":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/main/java/dev/amble/ait/datagen/**/*.java'

"A: Admin Tooling":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/main/java/dev/amble/ait/core/commands/**/*.java'

"C: Audio":
  - changed-files:
      - any-glob-to-any-file: 'src/main/resources/assets/*/sounds/**/*.ogg'

"C: No Java":
  - changed-files:
      # Equiv to any-glob-to-all as long as this has one matcher. If ALL changed files are not Java files, then apply label.
      - all-globs-to-all-files: "!src/main/java/**/*.java"
