Repository amblelabs/ait, pull requests merged in 2024-12, with the labels that each got.

#663 GUNS GUNS GUNS
  src/main/java/loqor/ait/client/AITModClient.java
  src/main/java/loqor/ait/client/ScopeOverlay.java
  src/main/java/loqor/ait/client/animation/decoration/flag/FlagAnimations.java
  src/main/java/loqor/ait/client/models/decoration/FlagModel.java
  src/main/java/loqor/ait/client/models/entities/projectiles/StaserBoltEntityModel.java
  src/main/java/loqor/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/loqor/ait/client/renderers/decoration/FlagBlockEntityRenderer.java
  src/main/java/loqor/ait/client/renderers/entities/projectiles/StaserBoltEntityRenderer.java
  src/main/java/loqor/ait/core/AITBlockEntityTypes.java
  src/main/java/loqor/ait/core/AITBlocks.java
  src/main/java/loqor/ait/core/AITEntityTypes.java
  src/main/java/loqor/ait/core/AITItems.java
  src/main/java/loqor/ait/core/AITSounds.java
  src/main/java/loqor/ait/core/blockentities/ArtronCollectorBlockEntity.java
  src/main/java/loqor/ait/core/blockentities/FlagBlockEntity.java
  src/main/java/loqor/ait/core/blocks/FlagBlock.java
  src/main/java/loqor/ait/core/entities/StaserBoltEntity.java
  src/main/java/loqor/ait/core/item/BaseGunItem.java
  src/main/java/loqor/ait/core/item/StaserBoltMagazine.java
  src/main/java/loqor/ait/core/item/StaserRifleItem.java
  src/main/java/loqor/ait/datagen/AITModDataGenerator.java
  src/main/java/loqor/ait/mixin/client/rendering/GameRendererMixin.java
  src/main/java/loqor/ait/mixin/client/rendering/PlayerEntityRendererMixin.java
  src/main/resources/assets/ait/blockstates/flag.json
  src/main/resources/assets/ait/models/block/flag.json
  src/main/resources/assets/ait/models/item/cult_staser.json
  src/main/resources/assets/ait/models/item/cult_staser_ads.json
  src/main/resources/assets/ait/models/item/cult_staser_rifle.json
  src/main/resources/assets/ait/models/item/cult_staser_rifle_ads.json
  src/main/resources/assets/ait/models/item/flag.json
  src/main/resources/assets/ait/models/item/staser_bolt_magazine.json
  src/main/resources/assets/ait/sounds/tools/staser.ogg
  src/main/resources/assets/ait/textures/blockentities/decoration/us_flag.png
  src/main/resources/assets/ait/textures/entity/projectiles/staser_bolt.png
  src/main/resources/assets/ait/textures/item/cult_staser.png
  src/main/resources/assets/ait/textures/item/cult_staser_rifle.png
  src/main/resources/assets/ait/textures/item/flag.png
  src/main/resources/assets/ait/textures/item/staser_bolt_magazine.png
Labels: enhancement

#680 Datapack Vortex Texture
  src/main/java/loqor/ait/AITMod.java
  src/main/java/loqor/ait/client/boti/BOTI.java
  src/main/java/loqor/ait/client/renderers/VortexUtil.java
  src/main/java/loqor/ait/core/sounds/flight/FlightSoundRegistry.java
  src/main/java/loqor/ait/core/sounds/travel/TravelSoundRegistry.java
  src/main/java/loqor/ait/core/tardis/vortex/reference/VortexReference.java
  src/main/java/loqor/ait/core/tardis/vortex/reference/VortexReferenceRegistry.java
  src/main/java/loqor/ait/data/datapack/DatapackExterior.java
  src/main/java/loqor/ait/data/schema/exterior/ExteriorVariantSchema.java
  src/main/java/loqor/ait/registry/impl/exterior/ExteriorVariantRegistry.java
  src/main/resources/data/ait/exterior/coral_war.json
  src/main/resources/data/ait/exterior/hudolin.json
  src/main/resources/data/ait/exterior/tokamak_eotd.json
  src/main/resources/data/ait/exterior/yard.json
  src/main/resources/data/ait/fx/flight/eight.json
  src/main/resources/data/ait/fx/flight/unstable.json
  src/main/resources/data/ait/fx/travel/eight_demat.json
  src/main/resources/data/ait/fx/travel/eight_mat.json
  src/main/resources/data/ait/fx/travel/ghost_mat.json
  src/main/resources/data/ait/fx/vortex/cream.json
  src/main/resources/data/ait/fx/vortex/storm.json
  src/main/resources/data/ait/fx/vortex/tokamak.json
  src/main/resources/data/ait/fx/vortex/war.json
Labels: enhancement

#720 selection screen for fx
  src/main/java/dev/pavatus/register/datapack/DatapackRegistry.java
  src/main/java/loqor/ait/client/AITModClient.java
  src/main/java/loqor/ait/client/boti/BOTI.java
  src/main/java/loqor/ait/client/screens/interior/InteriorSettingsScreen.java
  src/main/java/loqor/ait/client/screens/widget/SwitcherManager.java
  src/main/java/loqor/ait/client/sounds/flight/ClientFlightHandler.java
  src/main/java/loqor/ait/client/sounds/flight/InteriorFlightSound.java
  src/main/java/loqor/ait/core/sounds/flight/FlightSound.java
  src/main/java/loqor/ait/core/sounds/flight/FlightSoundRegistry.java
  src/main/java/loqor/ait/core/sounds/travel/TravelSound.java
  src/main/java/loqor/ait/core/tardis/animation/ExteriorAnimation.java
  src/main/java/loqor/ait/core/tardis/animation/PulsatingAnimation.java
  src/main/java/loqor/ait/core/tardis/handler/StatsHandler.java
  src/main/java/loqor/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
  src/main/java/loqor/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/loqor/ait/core/tardis/vortex/reference/VortexReference.java
  src/main/java/loqor/ait/core/util/Cachable.java
  src/main/java/loqor/ait/data/datapack/DatapackExterior.java
  src/main/java/loqor/ait/data/hum/Hum.java
  src/main/java/loqor/ait/data/properties/Value.java
  src/main/java/loqor/ait/data/schema/exterior/ExteriorVariantSchema.java
  src/main/java/loqor/ait/registry/impl/exterior/ExteriorVariantRegistry.java
Labels: enhancement

#751 Multidim Fix
  src/main/java/dev/pavatus/multidim/MultiDim.java
  src/main/java/dev/pavatus/multidim/MultiDimFileManager.java
  src/main/java/dev/pavatus/multidim/api/WorldBuilder.java
  src/main/java/loqor/ait/core/tardis/dim/TardisDimension.java
  src/main/resources/fabric.mod.json
Labels: bug

#658 Patchouli Compatability
  build.gradle
  gradle.properties
  src/main/resources/data/ait/patchouli_books/tardis_manual/book.json
Labels: documentation, enhancement
