Repository amblelabs/ait, pull requests merged in 2024-11, with the labels that each got.

#480 Datapack (de)mat SFX + Animations
  src/main/java/loqor/ait/AITMod.java
  src/main/java/loqor/ait/core/AITSounds.java
  src/main/java/loqor/ait/core/sounds/MatSound.java
  src/main/java/loqor/ait/core/sounds/travel/TravelSound.java
  src/main/java/loqor/ait/core/sounds/travel/TravelSoundRegistry.java
  src/main/java/loqor/ait/core/sounds/travel/map/TravelSoundMap.java
  src/main/java/loqor/ait/core/tardis/TardisHandlersManager.java
  src/main/java/loqor/ait/core/tardis/animation/ExteriorAnimation.java
  src/main/java/loqor/ait/core/tardis/animation/PulsatingAnimation.java
  src/main/java/loqor/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
  src/main/java/loqor/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/loqor/ait/core/tardis/handler/travel/TravelHandlerBase.java
  src/main/java/loqor/ait/data/datapack/DatapackExterior.java
  src/main/java/loqor/ait/data/schema/exterior/ExteriorVariantSchema.java
  src/main/java/loqor/ait/datagen/AITModDataGenerator.java
  src/main/java/loqor/ait/registry/Registries.java
  src/main/java/loqor/ait/registry/impl/exterior/ExteriorVariantRegistry.java
  src/main/resources/assets/ait/sounds/error.ogg
  src/main/resources/data/ait/exterior/tokamak_eotd.json
  src/main/resources/data/ait/sfx/eight_demat.json
  src/main/resources/data/ait/sfx/eight_mat.json
  src/main/resources/data/ait/sfx/ghost_mat.json
Labels: enhancement, for release

#518 Opinions
  src/main/java/loqor/ait/api/TardisComponent.java
  src/main/java/loqor/ait/core/likes/ItemOpinion.java
  src/main/java/loqor/ait/core/likes/ItemOpinionRegistry.java
  src/main/java/loqor/ait/core/likes/Opinion.java
  src/main/java/loqor/ait/core/likes/OpinionCache.java
  src/main/java/loqor/ait/core/tardis/Tardis.java
  src/main/java/loqor/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/loqor/ait/core/tardis/handler/OpinionHandler.java
  src/main/java/loqor/ait/registry/Registries.java
  src/main/java/loqor/ait/registry/datapack/DatapackRegistry.java
  src/main/resources/data/ait/opinion/item/likes_book.json
  src/main/resources/data/ait/opinion/item/likes_elytra.json
  src/main/resources/data/ait/opinion/item/likes_end_crystal.json
  src/main/resources/data/ait/opinion/item/likes_ender_pearl.json
  src/main/resources/data/ait/opinion/item/likes_golden_carrot.json
Labels: enhancement

#574 Singularity Matrix Subsystem
  src/main/java/loqor/ait/AITMod.java
  src/main/java/loqor/ait/core/AITBlocks.java
  src/main/java/loqor/ait/core/AITTags.java
  src/main/java/loqor/ait/core/blocks/CoralPlantBlock.java
  src/main/java/loqor/ait/core/blocks/ZeitonCageBlock.java
  src/main/java/loqor/ait/core/tardis/util/TardisUtil.java
  src/main/java/loqor/ait/datagen/AITModDataGenerator.java
  src/main/java/loqor/ait/datagen/datagen_providers/AITItemTagProvider.java
  src/main/java/loqor/ait/mixin/server/ItemEntityMixin.java
Labels: enhancement, for release

#579 Fluid Link
  src/main/java/loqor/ait/core/AITBlockEntityTypes.java
  src/main/java/loqor/ait/core/AITBlocks.java
  src/main/java/loqor/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/loqor/ait/core/blocks/CableBlock.java
  src/main/java/loqor/ait/core/engine/impl/EngineSystem.java
  src/main/java/loqor/ait/core/engine/link/IFluidLink.java
  src/main/java/loqor/ait/core/engine/link/IFluidSource.java
  src/main/java/loqor/ait/core/engine/link/ITardisSource.java
  src/main/java/loqor/ait/core/engine/link/block/FluidLinkBlock.java
  src/main/java/loqor/ait/core/engine/link/block/FluidLinkBlockEntity.java
  src/main/java/loqor/ait/core/engine/link/tracker/WorldFluidTracker.java
  src/main/java/loqor/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/textures/block/fluid_link.png
  src/main/resources/assets/ait/textures/block/fluid_link_on.png
Labels: enhancement, assets

#601 Demat Circuit + Structure Backend
  src/main/java/loqor/ait/core/AITBlockEntityTypes.java
  src/main/java/loqor/ait/core/AITBlocks.java
  src/main/java/loqor/ait/core/AITItems.java
  src/main/java/loqor/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/loqor/ait/core/blocks/EngineBlock.java
  src/main/java/loqor/ait/core/engine/DurableSubSystem.java
  src/main/java/loqor/ait/core/engine/StructureHolder.java
  src/main/java/loqor/ait/core/engine/SubSystem.java
  src/main/java/loqor/ait/core/engine/block/SubSystemBlock.java
  src/main/java/loqor/ait/core/engine/block/SubSystemBlockEntity.java
  src/main/java/loqor/ait/core/engine/block/generic/GenericStructureSystemBlockEntity.java
  src/main/java/loqor/ait/core/engine/block/generic/GenericSubSystemBlock.java
  src/main/java/loqor/ait/core/engine/block/multi/MultiBlockStructure.java
  src/main/java/loqor/ait/core/engine/block/multi/StructureSystemBlockEntity.java
  src/main/java/loqor/ait/core/engine/impl/DematCircuit.java
  src/main/java/loqor/ait/core/engine/impl/EngineSystem.java
  src/main/java/loqor/ait/core/engine/item/SubSystemItem.java
  src/main/java/loqor/ait/core/engine/link/block/FluidLinkBlockEntity.java
  src/main/java/loqor/ait/core/tardis/handler/FuelHandler.java
  src/main/java/loqor/ait/core/tardis/handler/SubSystemHandler.java
  src/main/java/loqor/ait/core/tardis/handler/TardisCrashHandler.java
  src/main/java/loqor/ait/datagen/AITModDataGenerator.java
Labels: enhancement

#614 Life Support and Shields Subsystems
  src/main/java/dev/pavatus/planet/mixin/gravity/LivingEntityMixin.java
  src/main/java/loqor/ait/core/AITBlockEntityTypes.java
  src/main/java/loqor/ait/core/AITBlocks.java
  src/main/java/loqor/ait/core/AITItems.java
  src/main/java/loqor/ait/core/blockentities/LifeSupportBlockEntity.java
  src/main/java/loqor/ait/core/blocks/LifeSupportBlock.java
  src/main/java/loqor/ait/core/engine/SubSystem.java
  src/main/java/loqor/ait/core/engine/impl/LifeSupportCircuit.java
  src/main/java/loqor/ait/core/engine/impl/ShieldsCircuit.java
  src/main/java/loqor/ait/core/tardis/handler/ShieldHandler.java
  src/main/java/loqor/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/loqor/ait/core/tardis/handler/SubSystemHandler.java
Labels: enhancement

#619 MultiBlockStructure from NBT
  src/main/java/loqor/ait/core/engine/block/multi/MultiBlockStructure.java
  src/main/java/loqor/ait/core/engine/impl/ShieldsCircuit.java
  src/main/java/loqor/ait/mixin/server/structure/StructureTemplateAccessor.java
  src/main/resources/ait.mixins.json
  src/main/resources/data/ait/structures/multiblock/shield.nbt
Labels: enhancement

#618 Subsystem Structure Rendering
  src/main/java/loqor/ait/client/AITModClient.java
  src/main/java/loqor/ait/client/renderers/MultiBlockStructureRenderer.java
  src/main/java/loqor/ait/client/renderers/machines/GenericSubSystemRenderer.java
  src/main/java/loqor/ait/core/engine/DurableSubSystem.java
  src/main/java/loqor/ait/core/engine/SubSystem.java
  src/main/java/loqor/ait/core/engine/block/generic/GenericStructureSystemBlockEntity.java
  src/main/java/loqor/ait/core/engine/block/generic/GenericSubSystemBlock.java
Labels: enhancement
