Repository amblelabs/ait, pull requests merged in 2025-06, with the labels that each got.

#1586 fix: datapack sfx not playing
  src/main/java/dev/amble/ait/core/tardis/TardisExterior.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/TardisAnimation.java
Labels: S: Untriaged, size/S, S: Needs Review, A: Tardis Components

#1599 feat: power converter achievement
  src/main/java/dev/amble/ait/core/advancement/TardisCriterions.java
  src/main/java/dev/amble/ait/core/blocks/PowerConverterBlock.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITAchievementProvider.java
Labels: T: New Feature, A: Datagen, S: Untriaged, size/S, S: Approved

#1605 Merge Hail Mary toggle-cost into trigger-cost
  src/main/java/dev/amble/ait/core/item/KeyItem.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/HailMaryControl.java
Labels: size/XS, S: Approved, A: Tardis Components, A: Console

#1608 feat: the funny
  src/main/resources/data/ait/tardis_names.json
Labels: S: Needs Review, C: No Java

#1606 Bug Report Automatic Updater
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  .github/workflows/update-bug-form.yml
Labels: size/S, S: Approved, C: No Java

#1614 pt_br translation changes
  src/main/resources/assets/ait/lang/pt_br.existing.json
Labels: size/S, S: Needs Review, C: No Java

#1615 fix: datapack sounds on servers meowing/erroneous
  src/main/java/dev/amble/ait/client/sounds/flight/ExteriorFlightSound.java
  src/main/java/dev/amble/ait/client/sounds/flight/InteriorFlightSound.java
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/tardis/TardisExterior.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/TardisAnimation.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/datapack/DatapackAnimation.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/NetworkUtil.java
Labels: size/M, S: Needs Review, A: Tardis Components

#1619 fix: dont render emission if there's no power power and no alarms
  src/main/java/dev/amble/ait/client/boti/TardisDoorBOTI.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/client/util/ClientTardisUtil.java
  src/main/java/dev/amble/ait/client/util/FoggyUtils.java
Labels: T: Visual Change, size/M, S: Approved, C: Render, A: Tardis Components, A: General Interactions

#1623 chore: add 1.2.7 to version list
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
Labels: T: Of Admin Interest, size/XS, S: Needs Review, D3: Low, C: No Java, A: Admin Tooling

#1609 Fix: Assorted Bugs
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/module/gun/core/item/StaserBoltMagazine.java
  src/main/java/dev/amble/ait/module/planet/mixin/gravity/BoatEntityMixin.java
Labels: size/XS, A: Tardis Components

#1625 Dev Exclusive Exteriors
  src/main/java/dev/amble/ait/client/models/doors/exclusive/BlueBoxDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/exclusive/DoomDoorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/exclusive/BlueBoxExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/exclusive/DoomExteriorModel.java
  src/main/java/dev/amble/ait/client/renderers/doors/DoorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/DoomConstants.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/client/screens/MonitorScreen.java
  src/main/java/dev/amble/ait/core/devteam/DevTeam.java
  src/main/java/dev/amble/ait/data/schema/door/impl/exclusive/BlueBoxDoorVariant.java
  src/main/java/dev/amble/ait/data/schema/door/impl/exclusive/ClientBlueBoxDoorVariant.java
  src/main/java/dev/amble/ait/data/schema/door/impl/exclusive/ClientDoomDoorVariant.java
  src/main/java/dev/amble/ait/data/schema/door/impl/exclusive/DoomDoorVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/category/DoomCategory.java
  src/main/java/dev/amble/ait/data/schema/exterior/category/ExclusiveCategory.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/BlueBoxCoralVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/BlueBoxTomAltVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/BlueBoxTomVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/BlueBoxVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/client/ClientBlueBoxCoralVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/client/ClientBlueBoxTomAltVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/client/ClientBlueBoxTomVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/blue_box/client/ClientBlueBoxVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/doom/DoomVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/doom/client/ClientDoomVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/wanderer/BoothWandererVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/exclusive/wanderer/client/ClientBoothWandererVariant.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/registry/impl/CategoryRegistry.java
  src/main/java/dev/amble/ait/registry/impl/door/ClientDoorRegistry.java
  src/main/java/dev/amble/ait/registry/impl/door/DoorRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ClientExteriorVariantRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ExteriorVariantRegistry.java
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/blue_box/coral.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/blue_box/default.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/blue_box/tom.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/blue_box/tom_alt.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_blank_diagonal.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_diagonal_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_door.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_door_open.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_front_back.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_front_back_open.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_front_back_open_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_left_diagonal.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_left_diagonal_open.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_left_diagonal_open_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_left_side.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_left_side_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_left_side_open.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_right_diagonal.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_right_diagonal_open.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_right_diagonal_open_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_right_side.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_right_side_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/doom/doom_right_side_open.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/wanderer/wanderer.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/exclusive/wanderer/wanderer_emission.png
Labels: C: Textures, A: Datagen, S: Untriaged, size/M, S: Approved, A: Tardis Components

#1654 modloader option on bug report
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
Labels: size/S, S: Needs Review, C: No Java

#1659 fix: missing translations for ait-config
  src/main/java/dev/amble/ait/client/config/AITClientConfig.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, S: Approved

#1666 Rifts Are Now VISIBLE With BOTI Off
  src/main/java/dev/amble/ait/client/renderers/entities/RiftEntityRenderer.java
Labels: T: Bugfix, T: Visual Change, size/S, S: Approved, C: Render, A: General Interactions

#1674 Planet block recipes
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITRecipeProvider.java
  src/main/java/dev/amble/ait/module/planet/PlanetModule.java
Labels: A: Datagen, S: Approved

#1676 chore: redid fabricators villager trades because god were they ass be…
  src/main/java/dev/amble/ait/core/util/CustomTrades.java
Labels: S: Untriaged, size/M, S: Approved

#1649 feat: attack eyebrows advancement
  src/main/java/dev/amble/ait/core/advancement/TardisCriterions.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITAchievementProvider.java
Labels: A: Datagen, size/S, S: Approved, A: Tardis Components, A: Console

#1668 feat: Indicate sufficient fuel level on Sonic
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/core/item/sonic/TardisSonicMode.java
  src/main/java/dev/amble/ait/core/tardis/handler/FuelHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/textures/marker/landing_red.png
Labels: C: Textures, A: Datagen, size/S, S: Approved, A: Tardis Components

#1635 chore: add BETA to version dropdown
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
Labels: T: Of Admin Interest, size/XS, S: Approved, D3: Low, C: No Java, A: Admin Tooling
