Repository amblelabs/ait, pull requests merged in 2025-04, with the labels that each got.

#1359 Legacy interior
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/textures/desktop/legacy.png
  src/main/resources/data/ait/desktop/legacy.json
  src/main/resources/data/ait/structures/interiors/legacy.nbt
Labels: C: Textures, A: Datagen, S: Untriaged, size/XS, S: Approved, C: Structures

#1357 feat: added shift for more info for items with info
  src/main/java/dev/amble/ait/client/util/TooltipUtil.java
  src/main/java/dev/amble/ait/core/blocks/ArtronCollectorBlock.java
  src/main/java/dev/amble/ait/core/blocks/CoralPlantBlock.java
  src/main/java/dev/amble/ait/core/blocks/EnvironmentProjectorBlock.java
  src/main/java/dev/amble/ait/core/blocks/FabricatorBlock.java
  src/main/java/dev/amble/ait/core/blocks/MatrixEnergizerBlock.java
  src/main/java/dev/amble/ait/core/blocks/PowerConverterBlock.java
  src/main/java/dev/amble/ait/core/engine/item/SubSystemItem.java
  src/main/java/dev/amble/ait/core/item/WaypointItem.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintItem.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, S: Approved, A: Engine

#1358 remove: mercury disc
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/models/item/mercury_music_disc.json
  src/main/resources/assets/ait/sounds/music/mercury_nitrogenez.ogg
  src/main/resources/assets/ait/textures/item/mercury_music_disc.png
Labels: C: Textures, A: Datagen, S: Untriaged, size/S, S: Approved, C: Audio

#1365 Refactor how the parser finds identifiers
  src/main/java/dev/amble/ait/core/tardis/animation/v2/blockbench/BlockbenchParser.java
  src/main/resources/data/ait/fx/blockbench/classic.animation.json
  src/main/resources/data/ait/fx/blockbench/classic_demat.animation.json
  src/main/resources/data/ait/fx/blockbench/zwip.animation.json
  src/main/resources/data/ait/fx/blockbench/zwip_mat.animation.json
Labels: S: Untriaged, size/M, S: Needs Review, A: Tardis Components

#1366 build(ver): 1.3.0-alpha
  gradle.properties
Labels: S: Untriaged, size/XS, S: Needs Review, C: No Java

#1360 refactor(anim): now reads from blockbench animations instead!
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/client/animation/AnimationConstants.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/tardis/TardisExterior.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/AnimationHolder.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/TardisAnimation.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/blockbench/BlockbenchParser.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/datapack/DatapackAnimation.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/datapack/TardisAnimationRegistry.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/keyframe/AnimationKeyframe.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/keyframe/KeyframeTracker.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/resources/data/ait/fx/animation/classic_demat.json
  src/main/resources/data/ait/fx/animation/classic_mat.json
  src/main/resources/data/ait/fx/animation/growth_mat.json
  src/main/resources/data/ait/fx/animation/keyframes/classic.animation.json
  src/main/resources/data/ait/fx/animation/keyframes/test.animation.json
  src/main/resources/data/ait/fx/animation/keyframes/zwip.animation.json
  src/main/resources/data/ait/fx/animation/new_demat.json
  src/main/resources/data/ait/fx/animation/new_mat.json
  src/main/resources/data/ait/fx/animation/shrink_demat.json
  src/main/resources/data/ait/fx/animation/type/classic_demat.json
  src/main/resources/data/ait/fx/animation/type/classic_mat.json
  src/main/resources/data/ait/fx/animation/type/test_demat.json
  src/main/resources/data/ait/fx/animation/type/test_mat.json
  src/main/resources/data/ait/fx/animation/type/zwip_demat.json
  src/main/resources/data/ait/fx/animation/type/zwip_mat.json
Labels: T: New Feature, T: Visual Change, size/L, S: Needs Review, C: Render, A: Tardis Components, A: Core Tech

#1363 feat(anim): bill & ted
  src/main/resources/data/ait/fx/animation/keyframes/bnt.animation.json
  src/main/resources/data/ait/fx/animation/type/bnt_demat.json
  src/main/resources/data/ait/fx/animation/type/bnt_mat.json
Labels: S: Untriaged, C: No Java

#1361 feat: self destruct anim
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/AnimationHolder.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/SelfDestructHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
  src/main/resources/data/ait/fx/animation/keyframes/self_destruct.animation.json
  src/main/resources/data/ait/fx/animation/type/crumple.json
  src/main/resources/data/ait/fx/animation/type/self_destruct.json
Labels: T: New Feature, T: Visual Change, size/M, S: Needs Review, A: Tardis Components, A: Console

#1383 sync 1.3.0 w main
  src/main/java/dev/amble/ait/client/util/TooltipUtil.java
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/blocks/ArtronCollectorBlock.java
  src/main/java/dev/amble/ait/core/blocks/CoralPlantBlock.java
  src/main/java/dev/amble/ait/core/blocks/EnvironmentProjectorBlock.java
  src/main/java/dev/amble/ait/core/blocks/FabricatorBlock.java
  src/main/java/dev/amble/ait/core/blocks/MatrixEnergizerBlock.java
  src/main/java/dev/amble/ait/core/blocks/PowerConverterBlock.java
  src/main/java/dev/amble/ait/core/engine/item/SubSystemItem.java
  src/main/java/dev/amble/ait/core/item/WaypointItem.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintItem.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITItemTagProvider.java
  src/main/resources/assets/ait/models/item/mercury_music_disc.json
  src/main/resources/assets/ait/sounds/music/mercury_nitrogenez.ogg
  src/main/resources/assets/ait/textures/desktop/legacy.png
  src/main/resources/assets/ait/textures/item/mercury_music_disc.png
  src/main/resources/assets/ait/textures/vortex/house_md.png
  src/main/resources/data/ait/desktop/legacy.json
  src/main/resources/data/ait/fx/vortex/house_md.json
  src/main/resources/data/ait/structures/interiors/legacy.nbt
Labels: C: Textures, A: Datagen, S: Needs Review, C: Structures, C: Audio, A: Engine

#1379 chore: removed handles summon command
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/registry/impl/HandlesResponseRegistry.java
Labels: A: Datagen, size/S, S: Approved

#1390 key sound now makes a unlock/lock noise
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/resources/assets/ait/sounds/tardis/key_lock.ogg
  src/main/resources/assets/ait/sounds/tardis/key_unlock.ogg
Labels: S: Untriaged, size/S, S: Approved, C: Audio, A: Tardis Components

#1392 fix: loottables
  src/main/resources/data/ait/loot_tables/chests/cult_chest_one.json
  src/main/resources/data/ait/loot_tables/chests/space_ship.json
Labels: S: Approved, C: No Java

#1391 shield ambiance
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/handler/ShieldHandler.java
  src/main/resources/assets/ait/sounds/tardis/shield_ambiance.ogg
Labels: S: Untriaged, size/S, S: Approved, C: Audio, A: Tardis Components

#1397 fix: lock STM on server start, add nullability check
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
Labels: T: Bugfix, size/XS, S: Approved, A: Tardis Components, A: Core Tech

#1406 feat: hopper intake on power converter
  src/main/java/dev/amble/ait/api/ConsumableBlock.java
  src/main/java/dev/amble/ait/core/blocks/PowerConverterBlock.java
  src/main/java/dev/amble/ait/mixin/HopperBlockEntityMixin.java
  src/main/resources/ait.mixins.json
Labels: T: New Feature, size/M, S: Needs Review, A: General Interactions

#1408 fix: oopsie
  src/main/java/dev/amble/ait/core/tardis/handler/ShieldHandler.java
Labels: S: Untriaged, size/S, S: Approved, A: Tardis Components

#1410 Feature: Vortex Layers (pls no judge the code)
  src/main/java/dev/amble/ait/client/boti/RiftBOTI.java
  src/main/java/dev/amble/ait/client/boti/TardisDoorBOTI.java
  src/main/java/dev/amble/ait/client/renderers/VortexUtil.java
  src/main/java/dev/amble/ait/client/renderers/entities/FlightTardisRenderer.java
  src/main/java/dev/amble/ait/client/util/SkyboxUtil.java
Labels: T: New Feature, size/M, S: Approved, C: Render, A: Space

#1385 Informative Alarms
  src/main/java/dev/amble/ait/core/AITDamageTypes.java
  src/main/java/dev/amble/ait/core/item/KeyItem.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ServerAlarmHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: New Feature, size/M, S: Approved, A: Tardis Components

#1418 feat: editable TARDIS type number!
  src/main/java/dev/amble/ait/client/renderers/decoration/PlaqueRenderer.java
  src/main/java/dev/amble/ait/core/blockentities/PlaqueBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/PlaqueBlock.java
Labels: S: Untriaged, size/S, S: Approved

#1419 Update Changelog
  CHANGELOG.md
Labels: S: Needs Review, C: No Java

#1415 Feat/update secret
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/DoorLockControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/EngineOverloadControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ThrottleControl.java
  src/main/resources/assets/ait/sounds/music/mad_man.ogg
  src/main/resources/assets/ait/sounds/music/mad_man_sad.ogg
Labels: S: Untriaged, size/S, S: Approved, C: Audio, A: Tardis Components, A: Console

#1421 Changelog is now more accurate & PR number is hyperlinked
  CHANGELOG.md
  scripts/generate_changelogs.py
Labels: size/S, S: Needs Review, C: No Java, A: Integration Tests

#1426 use my own maven repo instead of jitpack
  build.gradle
  gradle.properties
Labels: T: Cleanup, size/S, S: Needs Review, S: Approved, C: No Java, A: Core Tech

#1433 fix: use proper token for changelog push
  .github/workflows/changelog.yml
Labels: S: Untriaged, size/XS

#1436 fix the addie bug
  src/main/java/dev/amble/ait/core/tardis/ServerTardis.java
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
Labels: S: Untriaged, S: Approved, A: Tardis Components

#1438 fix the hammer crash
  src/main/java/dev/amble/ait/core/tardis/handler/ExtraHandler.java
  src/main/java/dev/amble/ait/data/properties/Value.java
Labels: T: Bugfix, size/S, S: Needs Review, S: Approved, A: Tardis Components

#1442 fix: oxygenator now has pickaxeminable tag so will drop
  src/main/java/dev/amble/ait/module/planet/core/PlanetBlocks.java
Labels: T: Bugfix, A: Datagen, size/XS, S: Needs Review, S: Approved

#1444 fix: two hartnell variants are missing emissions
  src/main/resources/data/ait/console/exile.json
  src/main/resources/data/ait/console/hartnell_mint_green_console.json
Labels: T: Bugfix, C: Textures, T: Visual Change, S: Approved, C: No Java, A: Console

#1446 chore: temporarly removed music since thats kinda copyrighted lol
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
Labels: S: Untriaged, size/XS, S: Approved, A: Tardis Components, A: Console

#1449 fix: hail mary indicator is reversed on hartnell consoles
  src/main/java/dev/amble/ait/client/models/consoles/HartnellConsoleModel.java
Labels: T: Bugfix, T: Visual Change, S: Needs Review, P3: Standard, D3: Low, C: Render, A: Console

#1453 fix handlers being null sometimes due to multithreading
  src/main/java/dev/amble/ait/core/tardis/TardisHandlersManager.java
  src/main/java/dev/amble/ait/data/enummap/ConcurrentEnumMap.java
  src/main/java/dev/amble/ait/data/enummap/EnumMap.java
Labels: T: Bugfix, size/S, S: Needs Review, A: Tardis Components, A: Core Tech

#1455 Exterior BOTI doors not turning dark red during alarm when TARDIS unpowered
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
Labels: T: Bugfix, T: Visual Change, size/XS, S: Needs Review, P3: Standard, D3: Low, C: Render, A: General Interactions

#1439 1.3.0 into Main ( Frequent, Small Updates )
  gradle.properties
  src/main/java/dev/amble/ait/core/AITDamageTypes.java
  src/main/java/dev/amble/ait/core/item/KeyItem.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ServerAlarmHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, S: Undergoing Maintainer Discussion, S: Approved, A: Tardis Components

#1457 feat(advancement): stat remote advancement
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITAchievementProvider.java
Labels: A: Datagen, S: Untriaged, size/XS, S: Approved

#1463 ci(changelog): append on merge & reset on release
  .github/workflows/append_changelog.yml
  .github/workflows/changelog.yml
  .github/workflows/clear_changelog.yml
  CHANGELOG.md
  scripts/generate_changelogs.py
  scripts/update_changelog.py
Labels: S: Untriaged, size/M, S: Approved, C: No Java

#1464 fix: rename hammer -> mallet
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: S: Untriaged

#1470 Fix disabling of experimental message for map backup-prompt
  src/main/java/dev/amble/ait/mixin/client/experimental_screen/WorldOpenFlowsMixin.java
Labels: T: Bugfix, T: UI / UX Improvement, size/S, S: Needs Review, P3: Standard, D3: Low, C: UI, A: Core Tech

#1469 feat: darkness vortex layers
  src/main/resources/assets/ait/textures/vortex/darkness.png
  src/main/resources/assets/ait/textures/vortex/darkness_second.png
  src/main/resources/assets/ait/textures/vortex/darkness_third.png
  src/main/resources/assets/ait/textures/vortex/nebula.png
  src/main/resources/data/ait/fx/vortex/nebula.json
Labels: C: Textures, S: Approved, C: No Java

#1468 fix: removed "likes pottery shards"
  src/main/resources/data/ait/opinion/item/likes_pottery_shards.json
Labels: S: Untriaged, size/XS, S: Approved, C: No Java

#1476 Revert "fix disabling of map backup-prompt not working"
  src/main/java/dev/amble/ait/mixin/client/experimental_screen/WorldOpenFlowsMixin.java
Labels: S: Untriaged, size/S, S: Needs Review

#1478 Fix disabling of experimental message for map backup-prompt (take two)
  src/main/java/dev/amble/ait/mixin/client/experimental_screen/WorldOpenFlowsMixin.java
Labels: T: Bugfix, T: UI / UX Improvement, size/S, S: Needs Review, P3: Standard, D3: Low, C: UI, A: Core Tech

#1466 feat: indicate that control is on cooldown
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
Labels: T: New Feature, size/S, S: Needs Review, A: Console

#1485 Feat: Max range of 256 blocks for sonic summon
  src/main/java/dev/amble/ait/core/item/sonic/TardisSonicMode.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/lang/en_us.existing.json
Labels: T: New Feature, A: Datagen, T: Balance Change, size/S, S: Needs Review, P3: Standard, D3: Low, A: Tardis Components

#1486 feat: mad man
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/resources/assets/ait/sounds/music/mad_man.ogg
  src/main/resources/assets/ait/sounds/music/mad_man_dian.ogg
  src/main/resources/assets/ait/sounds/music/mad_man_sad.ogg
Labels: S: Untriaged, size/XS, S: Needs Review, C: Audio, A: Tardis Components, A: Console

#1461 feat: spawning particles at door after reconfig
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/core/commands/SetDoorParticleCommand.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/TardisCrashHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
Labels: T: New Feature, size/M, S: Needs Lib Update, S: Needs Lib PR Merged, S: Awaiting Changes, S: Approved, A: Tardis Components, A: Admin Tooling

#1465 Sonic Overload Changes
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/item/SonicItem.java
  src/main/java/dev/amble/ait/core/item/sonic/OverloadSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/SonicMode.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITBlockTagProvider.java
Labels: A: Datagen, size/S, S: Approved, A: General Interactions

#1483 feat: added music disc insertable tag
  src/main/java/dev/amble/ait/core/AITTags.java
  src/main/java/dev/amble/ait/core/entities/FallingTardisEntity.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ConsolePortControl.java
Labels: T: New Feature, A: Datagen, size/S, S: Approved, D3: Low, A: Tardis Components, A: Console

#1267 fix: remove engine placed blocks on break
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/block/SubSystemBlock.java
Labels: T: Bugfix, size/S, S: Needs Review, S: DO NOT MERGE, A: Engine, S: Needs Testing

#1489 Changelog now includes PR Authors
  scripts/update_changelog.py
Labels: S: Untriaged, size/S, C: No Java

#1491 fix: renamed a method for sake of sanity
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/core/util/CustomTrades.java
Labels: T: Cleanup, size/XS, S: Needs Review, P3: Standard, DB: Beginner Friendly, A: Core Tech

#1490 Demat/mat sounds/anim/translations and remote achievement desc fixes
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/sounds/tardis/eight_demat.ogg
  src/main/resources/assets/ait/sounds/tardis/eight_mat.ogg
  src/main/resources/assets/ait/sounds/tardis/eighth_demat.ogg
  src/main/resources/assets/ait/sounds/tardis/eighth_mat.ogg
  src/main/resources/data/ait/fx/animation/keyframes/classic_eight.animation.json
  src/main/resources/data/ait/fx/animation/type/eight_demat.json
  src/main/resources/data/ait/fx/animation/type/eight_mat.json
Labels: A: Datagen, size/S, S: Needs Review, C: Audio

#1467 Control Durability
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/ProgressiveTravelHandler.java
Labels: size/M, S: Needs Review, A: Tardis Components

#1500 1.2.3 - Control Durability, New Swords, Multiple Bug Fixes, Fixed Translations
  CHANGELOG.md
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/dev/amble/ait/client/renderers/doors/DoorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/core/blockentities/ConsoleBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/DoorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ConsoleBlock.java
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/item/HypercubeItem.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/TardisCrashHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/ProgressiveTravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/module/gun/core/entity/StaserBoltEntity.java
  src/main/java/dev/amble/ait/module/planet/core/PlanetItems.java
  src/main/resources/assets/ait/models/item/anorthosite_sword.json
  src/main/resources/assets/ait/models/item/martian_stone_sword.json
  src/main/resources/assets/ait/textures/item/anorthosite_sword.png
  src/main/resources/assets/ait/textures/item/martian_stone_sword.png
Labels: C: Textures, A: Datagen, S: Untriaged, size/M, S: Needs Review, A: Tardis Components, A: Engine, A: Console

#1501 1.2.3 - I forgot to make it 1.2.3 in the gradle...
  CHANGELOG.md
  gradle.properties
Labels: S: Untriaged, size/XS, C: No Java

#1505 EnumMap thread safety
  src/main/java/dev/amble/ait/core/tardis/TardisHandlersManager.java
  src/main/java/dev/amble/ait/core/tardis/handler/SubSystemHandler.java
  src/main/java/dev/amble/ait/data/enummap/ConcurrentEnumMap.java
Labels: S: Untriaged, size/S, S: Needs Review, A: Tardis Components

#1510 fix: capsule interior door BOTI portal clipping into the blocks behin…
  src/main/java/dev/amble/ait/data/schema/door/impl/CapsuleDoorVariant.java
Labels: T: Bugfix, T: Visual Change, size/XS, S: Approved, A: General Interactions

#1516 fix sonic modes making double calls
  src/main/java/dev/amble/ait/core/item/sonic/InteractionSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/OverloadSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/TardisSonicMode.java
Labels: T: Bugfix, T: UI / UX Improvement, T: Content Removal, size/S, S: Needs Review, P3: Standard, D3: Low, C: Render, A: General Interactions

#1503 Sticky keys
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
Labels: S: Untriaged, size/S, S: Needs Review, S: Approved

#1507 make control entities regular entities
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/entities/base/LinkableDummyLivingEntity.java
  src/main/java/dev/amble/ait/core/item/control/ControlBlockItem.java
  src/main/java/dev/amble/ait/mixin/fix/LivingEntityBrainFixMixin.java
  src/main/resources/ait.mixins.json
Labels: T: Performance, T: Cleanup, size/M, S: Awaiting Changes, S: Approved, A: Core Tech, A: Console

#1509 Lazy tardis ticking
  src/main/java/dev/amble/ait/compat/gravity/GravityHandler.java
  src/main/java/dev/amble/ait/core/advancement/TardisCriterions.java
  src/main/java/dev/amble/ait/core/blocks/DoorBlock.java
  src/main/java/dev/amble/ait/core/item/InteriorTeleporterItem.java
  src/main/java/dev/amble/ait/core/tardis/ServerTardis.java
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/tardis/control/sequences/SequenceHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ButlerHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SonicHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/WaypointHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/distress/DistressCall.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/core/util/Lazy.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
  src/main/java/dev/amble/ait/registry/impl/SequenceRegistry.java
Labels: T: Performance, size/M, S: Requires Lib PR, S: Needs Review, S: Needs Lib Update, S: Needs Lib PR Merged, S: Approved, A: Tardis Components, A: Core Tech, A: Console

#1497 Add TARDIS locator functionality to sonic scanning mode
  src/main/java/dev/amble/ait/core/AITTags.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITBlockTagProvider.java
  src/main/java/dev/amble/ait/mixin/server/BellBlockMixin.java
  src/main/resources/ait.mixins.json
Labels: T: New Feature, A: Datagen, T: Balance Change, size/S, S: Needs Review, P3: Standard, D3: Low, A: General Interactions

#1282 fix: empty mug is drinkable
  src/main/java/dev/amble/ait/core/drinks/DrinkUtil.java
  src/main/java/dev/amble/ait/core/item/DrinkItem.java
Labels: S: Untriaged, size/S, S: Awaiting Changes

#1517 bring back disc textures
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/resources/assets/ait/textures/item/good_man_music_disc.png
  src/main/resources/assets/ait/textures/item/wonderful_time_in_space_music_disc.png
Labels: C: Textures, S: Untriaged, size/XS, S: Approved, A: Tardis Components, A: Console

#1518 chore(sonic): Type 100 -> Frontier
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, S: Untriaged, size/XS, S: Needs Review

#1521 proton flight update i dont wanna fill this out waa waa
  src/main/resources/assets/ait/sounds/tardis/proton_flight.ogg
Labels: S: Untriaged, size/XS, S: Approved, C: No Java, C: Audio
