Repository amblelabs/ait, pull requests merged in 2025-07, with the labels that each got.

#1694 Fix randomizer only choosing coordinates around spawn
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelUtil.java
Labels: T: Bugfix, S: Needs Review, P3: Standard, A: Tardis Components, C: Chunks, A: Console

#1697 fix progress display on console monitors
  src/main/java/dev/amble/ait/client/models/consoles/AlnicoConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/CopperConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/CoralConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/CrystallineConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/RenaissanceConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/ToyotaConsoleModel.java
Labels: T: Bugfix, size/S, S: Approved, P3: Standard, D3: Low, C: Render, A: Console

#1706 fix: adjusted the fuel and travel tick formulas
  src/main/java/dev/amble/ait/core/tardis/handler/FuelHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
Labels: T: Bugfix, T: Balance Change, size/XS, S: Needs Review, P2: Raised, DB: Beginner Friendly, A: Tardis Components

#1715 1.2.9 release yay
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  CHANGELOG.md
  gradle.properties
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/core/tardis/handler/FuelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/ProgressiveTravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
Labels: S: Untriaged, size/S, S: Needs Review, A: Tardis Components

#1703 pt_br translation update
  src/main/resources/assets/ait/lang/pt_br.existing.json
  src/main/resources/assets/minecraft/lang/pt_br.json
Labels: S: Untriaged, size/M, S: Needs Review, C: No Java

#1718 fix: stonecutting anorthosite bricks
  src/main/java/dev/amble/ait/module/planet/PlanetModule.java
Labels: T: Bugfix, S: Untriaged, size/XS, S: Approved, A: Space

#1721 update bug report version drop down to 1.2.9
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
Labels: S: Untriaged, S: Needs Review, C: No Java

#1746 chore: blacklist space from travel
  src/main/java/dev/amble/ait/config/AITServerConfig.java
Labels: S: Untriaged, T: Content Removal, size/XS, S: Conceptual Approval, S: Approved, P3: Standard, D3: Low, C: No Java, A: Space

#1743 Feature: Client config option to toggle CRT- and console-monitor text on/off
  src/main/java/dev/amble/ait/client/config/AITClientConfig.java
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/dev/amble/ait/client/renderers/monitors/MonitorRenderer.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: New Feature, A: Datagen, T: UI / UX Improvement, size/S, S: Approved, P3: Standard, D3: Low, C: UI, C: Render, A: Console

#1731 update the dev team list
  src/main/java/dev/amble/ait/core/devteam/DevTeam.java
Labels: T: Bugfix, size/S, S: Approved, P3: Standard, A: Core Tech

#1747 1.2.10 yeahhh
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  CHANGELOG.md
  gradle.properties
  src/main/java/dev/amble/ait/api/tardis/TardisEvents.java
  src/main/java/dev/amble/ait/client/config/AITClientConfig.java
  src/main/java/dev/amble/ait/client/models/consoles/AlnicoConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/CopperConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/CoralConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/CrystallineConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/RenaissanceConsoleModel.java
  src/main/java/dev/amble/ait/client/models/consoles/ToyotaConsoleModel.java
  src/main/java/dev/amble/ait/client/renderers/AITRenderLayers.java
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleGeneratorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/dev/amble/ait/client/renderers/monitors/MonitorRenderer.java
  src/main/java/dev/amble/ait/client/tardis/manager/ClientTardisManager.java
  src/main/java/dev/amble/ait/config/AITServerConfig.java
  src/main/java/dev/amble/ait/core/blockentities/DoorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ConsoleBlock.java
  src/main/java/dev/amble/ait/core/devteam/DevTeam.java
  src/main/java/dev/amble/ait/core/engine/DurableSubSystem.java
  src/main/java/dev/amble/ait/core/engine/block/SubSystemBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/block/generic/GenericStructureSystemBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
  src/main/java/dev/amble/ait/core/item/HammerItem.java
  src/main/java/dev/amble/ait/core/item/KeyItem.java
  src/main/java/dev/amble/ait/core/tardis/ServerTardis.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ElectricalDischargeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ShieldHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SubSystemHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/AsyncLocatorUtil.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/mixin/client/rendering/ItemRendererMixin.java
  src/main/java/dev/amble/ait/module/planet/PlanetModule.java
  src/main/java/dev/amble/ait/module/planet/mixin/gravity/LivingEntityMixin.java
  src/main/java/dev/amble/ait/registry/impl/HandlesResponseRegistry.java
  src/main/resources/assets/ait/lang/en_us.existing.json
  src/main/resources/assets/ait/lang/pt_br.existing.json
  src/main/resources/assets/ait/sounds/tardis/monitor_idle.ogg
  src/main/resources/assets/ait/textures/blockentities/consoles/exile.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/classic/classic_exile.png
  src/main/resources/assets/minecraft/lang/pt_br.json
Labels: C: Textures, A: Datagen, S: Untriaged, size/M, S: Needs Review, C: Audio, A: Tardis Components, A: Engine, A: Console

#1749 Feat/hudolin console + lighting bugs
  src/main/java/dev/amble/ait/client/animation/console/hudolin/HudolinAnimations.java
  src/main/java/dev/amble/ait/client/animation/console/hudolin/hudolin.txt
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/client/models/consoles/HudolinConsoleModel.java
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/dev/amble/ait/client/renderers/doors/DoorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/FlightTardisRenderer.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/machines/FabricatorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/monitors/MonitorRenderer.java
  src/main/java/dev/amble/ait/client/screens/MonitorScreen.java
  src/main/java/dev/amble/ait/client/util/ClientLightUtil.java
  src/main/java/dev/amble/ait/client/util/FoggyUtils.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ElectricalDischargeControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ExtraHandler.java
  src/main/java/dev/amble/ait/data/schema/console/type/HudolinType.java
  src/main/java/dev/amble/ait/data/schema/console/variant/hudolin/HudolinNatureVariant.java
  src/main/java/dev/amble/ait/data/schema/console/variant/hudolin/HudolinVariant.java
  src/main/java/dev/amble/ait/data/schema/console/variant/hudolin/client/ClientHudolinNatureVariant.java
  src/main/java/dev/amble/ait/data/schema/console/variant/hudolin/client/ClientHudolinVariant.java
  src/main/java/dev/amble/ait/registry/impl/console/ConsoleRegistry.java
  src/main/java/dev/amble/ait/registry/impl/console/variant/ClientConsoleVariantRegistry.java
  src/main/java/dev/amble/ait/registry/impl/console/variant/ConsoleVariantRegistry.java
  src/main/resources/assets/ait/textures/blockentities/consoles/hudolin_console.png
  src/main/resources/assets/ait/textures/blockentities/consoles/hudolin_console_emission.png
  src/main/resources/assets/ait/textures/blockentities/consoles/hudolin_console_nature.png
  src/main/resources/assets/ait/textures/blockentities/consoles/hudolin_console_nature_emission.png
  src/main/resources/assets/ait/textures/blockentities/consoles/hudolin_console_shalka.png
  src/main/resources/assets/ait/textures/blockentities/consoles/hudolin_console_shalka_emission.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/frooploof/police_box_coral_war_emission.png
Labels: T: New Feature, C: Textures, T: Visual Change, size/L, S: Draft, S: Approved, P1: High, D2: Medium, A: Tardis Components, A: Console

#1757 fix: extreme shaking
  src/main/java/dev/amble/ait/client/util/ClientTardisUtil.java
Labels: T: Bugfix, size/S, S: Needs Review, P2: Raised, C: Render, A: Tardis Components

#1665 Feat: Console Inventory + Sonic Per Console
  src/main/java/dev/amble/ait/client/renderers/AITRenderLayers.java
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/ControlEntityRenderer.java
  src/main/java/dev/amble/ait/client/screens/SonicSettingsScreen.java
  src/main/java/dev/amble/ait/client/screens/interior/InteriorSettingsScreen.java
  src/main/java/dev/amble/ait/client/util/ClientTardisUtil.java
  src/main/java/dev/amble/ait/core/blockentities/AbstractConsoleBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/ConsoleBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ConsoleBlock.java
  src/main/java/dev/amble/ait/core/blocks/DetectorBlock.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SonicPortControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SonicHandler.java
Labels: size/M, S: Needs Review, A: Tardis Components, A: Engine, A: Console

#1770 sonic screwdriver summon notify if no power
  src/main/java/dev/amble/ait/core/item/sonic/TardisSonicMode.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, size/XS, S: Approved

#1769 fix: the load waypoint control should load the coordinates, not start travel
  src/main/java/dev/amble/ait/client/models/consoles/RenaissanceConsoleModel.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ConsolePortControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/LoadWaypointControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/SaveWaypointControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/WaypointHandler.java
  src/main/java/dev/amble/ait/data/schema/console/type/AlnicoType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CopperType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CoralType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CrystallineType.java
  src/main/java/dev/amble/ait/data/schema/console/type/HartnellType.java
  src/main/java/dev/amble/ait/data/schema/console/type/HourglassType.java
  src/main/java/dev/amble/ait/data/schema/console/type/HudolinType.java
  src/main/java/dev/amble/ait/data/schema/console/type/RenaissanceType.java
  src/main/java/dev/amble/ait/data/schema/console/type/SteamType.java
  src/main/java/dev/amble/ait/data/schema/console/type/ToyotaType.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/registry/impl/ControlRegistry.java
  src/main/java/dev/amble/ait/registry/impl/HandlesResponseRegistry.java
  src/main/java/dev/amble/ait/registry/impl/MoodEventPoolRegistry.java
  src/main/java/dev/amble/ait/registry/impl/SequenceRegistry.java
  src/main/resources/assets/ait/lang/pt_br.existing.json
  src/main/resources/assets/ait/lang/uk_ua.existing.json
  src/main/resources/assets/ait/sounds/controls/waypoint_load.ogg
Labels: T: UI / UX Improvement, S: Needs Review, P3: Standard, A: Tardis Components, A: Console

#1775 Added the Axe thing Theo told me also made it mod compatible
  src/main/java/dev/amble/ait/core/tardis/handler/FuelHandler.java
Labels: T: Balance Change, size/XS, S: Needs Review, A: Tardis Components

#1776 Add changelog for PR #1775 to CHANGELOG.md
  CHANGELOG.md
Labels: A: Docs, S: Approved, P3: Standard, C: No Java

#1777 fuck it
  CHANGELOG.md
Labels: S: Untriaged, size/XS, S: Needs Review, C: No Java

#1780 Allow the use of default cave interior without breaking growth checks
  src/main/java/dev/amble/ait/core/tardis/Tardis.java
Labels: T: Bugfix, size/XS, S: Awaiting Changes, P3: Standard, DB: Beginner Friendly, A: Tardis Components
