Repository amblelabs/ait, pull requests merged in 2025-03, with the labels that each got.

#1029 refactor: use identifiers for controls' names instead of strings
  src/main/java/dev/amble/ait/core/blockentities/control/ControlBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/control/ControlBlock.java
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/entities/RiftEntity.java
  src/main/java/dev/amble/ait/core/entities/base/LinkableDummyLivingEntity.java
  src/main/java/dev/amble/ait/core/item/control/ControlBlockItem.java
  src/main/java/dev/amble/ait/core/tardis/control/Control.java
  src/main/java/dev/amble/ait/core/tardis/control/RefreshmentControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/AntiGravsControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/AutoPilotControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/CloakControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/DimensionControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/DirectionControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/DoorControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/DoorLockControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ElectricalDischargeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/EngineOverloadControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/FastReturnControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/FoodCreationControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/HADSControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/HailMaryControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/HandBrakeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/LandTypeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/MonitorControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/RandomiserControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/RefuelerControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SecurityControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ShieldsControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ShowSiegeModeLeverControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SiegeModeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SonicPortControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ThrottleControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/VisualiserControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/pos/IncrementControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/pos/PosControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/ConsolePortControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/EjectWaypointControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/GotoWaypointControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/MarkWaypointControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/waypoint/SetWaypointControl.java
  src/main/java/dev/amble/ait/core/tardis/control/sequences/SequenceHandler.java
  src/main/java/dev/amble/ait/registry/impl/ControlRegistry.java
Labels: enhancement

#1030 feat: TARDIS Sonic Mode
  src/main/java/dev/amble/ait/core/item/TardisItemBuilder.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/SonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/TardisSonicMode.java
Labels: enhancement, for release

#1031 Fix Loyalty Messages
  src/main/java/dev/amble/ait/core/item/TardisItemBuilder.java
  src/main/java/dev/amble/ait/core/tardis/handler/LoyaltyHandler.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: bug

#1040 Translation for the new versions
  src/main/resources/assets/ait/lang/pt_br.existing.json
Labels: enhancement

#1079 Sonic block and entity scanning
  src/main/java/dev/amble/ait/core/item/sonic/OverloadSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: New Feature, size/M, S: Approved, P3: Standard, D3: Low, A: General Interactions

#1120 party mode disc
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
Labels: S: Untriaged, size/XS, S: Approved

#1085 Console Growth Changes
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleGeneratorRenderer.java
  src/main/java/dev/amble/ait/core/blockentities/ConsoleGeneratorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ConsoleGeneratorBlock.java
  src/main/java/dev/amble/ait/core/blocks/CoralPlantBlock.java
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: Balance Change, size/M, S: Approved, P3: Standard, D1: High, A: Tardis Components

#1128 this is silly
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: S: Untriaged, size/XS, S: Needs Review

#1129 Chore/translatables for everyone
  src/main/java/dev/amble/ait/config/AITConfig.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/core/tardis/control/sound/ControlSound.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/mixin/server/BedInTardisMixin.java
Labels: S: Untriaged, size/S, S: Approved

#1130 my credit is now my website :D
  README.md
Labels: size/XS, S: Approved, Changes: No Java

#1132 ci: update workflows
  .github/workflows/pr-labeler-approve.yml
  .github/workflows/pr-labeler-conflict.yml
  .github/workflows/pr-labeler-create.yml
  .github/workflows/pr-labeler-review.yml
  .github/workflows/pr-labeler-stable.yml
  .github/workflows/pr-labeler-staging.yml
  .github/workflows/pr-labeler.yml
Labels: size/S, S: Needs Review, Changes: No Java

#1131 Chore/islinked
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/client/overlays/RWFOverlay.java
  src/main/java/dev/amble/ait/client/renderers/consoles/ConsoleRenderer.java
  src/main/java/dev/amble/ait/client/renderers/decoration/PlaqueRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/ControlEntityRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/FlightTardisRenderer.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/client/renderers/machines/EngineRenderer.java
  src/main/java/dev/amble/ait/core/AITKeyBinds.java
  src/main/java/dev/amble/ait/core/blockentities/ConsoleBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/EnvironmentProjectorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/DetectorBlock.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/entities/FallingTardisEntity.java
  src/main/java/dev/amble/ait/core/entities/FlightTardisEntity.java
  src/main/java/dev/amble/ait/core/item/HammerItem.java
  src/main/java/dev/amble/ait/core/tardis/animation/ExteriorAnimation.java
  src/main/java/dev/amble/ait/core/tardis/util/network/s2c/BOTIDataS2CPacket.java
  src/main/java/dev/amble/ait/core/tardis/util/network/s2c/BOTISyncS2CPacket.java
Labels: S: Untriaged, size/S, S: Approved

#1133 fix: tardis dimension should be excluded from travelling (#1121)
  src/main/java/dev/amble/ait/core/tardis/control/impl/DimensionControl.java
  src/main/java/dev/amble/ait/core/util/WorldUtil.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: T: Bugfix, size/M, S: Approved, A: Core Tech

#1135 fmt: EnvironmentProjectorBlockEntity
  src/main/java/dev/amble/ait/core/blockentities/EnvironmentProjectorBlockEntity.java
Labels: S: Untriaged, size/XS, S: Approved

#1137 ci: disable spotless failure by default
  build.gradle
Labels: S: Approved, Changes: No Java

#1138 ci: build any branch if it has some code changed
  .github/workflows/publish-devbuilds.yml
Labels: S: Approved, Changes: No Java

#1136 fix: matrix energizer
  src/main/java/dev/amble/ait/core/blocks/MatrixEnergizerBlock.java
  src/main/java/dev/amble/ait/core/item/PersonalityMatrixItem.java
Labels: T: Bugfix, size/S, S: Needs Review, S: Approved, A: Engine

#1149 perf: use async to find safe position before remat
  src/main/java/dev/amble/ait/api/TardisEvents.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
Labels: S: Untriaged, size/S, A: Tardis Components

#1150 ci: use short label names, as they are in github
  .github/labeler.yml
Labels: T: Bugfix, size/XS, S: Approved, A: Core Tech

#1153 feat: split world blacklist into travel and open world blacklists
  src/main/java/dev/amble/ait/config/AITConfig.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/DimensionControl.java
  src/main/java/dev/amble/ait/core/util/WorldUtil.java
  src/main/java/dev/amble/ait/registry/impl/MoodEventPoolRegistry.java
Labels: T: Bugfix, size/S, S: Needs Review, A: Core Tech, A: Admin Tooling

#1151 ci: use proper file glob for structures, textures and sound in labeler
  .github/labeler.yml
Labels: T: Bugfix, size/XS, S: Needs Review, C: No Java, A: Core Tech

#1154 feat!: use an either in the loyalty codec
  src/main/java/dev/amble/ait/data/Loyalty.java
Labels: T: Cleanup, size/XS, A: Tardis Components

#1155 fix: the bt exterior should use proper json
  src/main/resources/data/ait/exterior/bt.json
Labels: T: Bugfix, size/XS, C: No Java

#1156 fix: geometric green proper json schema
  src/main/resources/data/ait/exterior/geometric_green.json
Labels: T: Bugfix, size/XS, C: No Java

#1157 fix: add the world to proper world list, ignore tardis dimension
  src/main/java/dev/amble/ait/core/util/WorldUtil.java
Labels: T: Bugfix, size/XS, A: Core Tech

#1158 fix: update loyalty schema in schemas
  src/main/resources/data/ait/exterior/toyota_memorial.json
  src/main/resources/data/ait/sonic/copper.json
  src/main/resources/data/ait/sonic/coral.json
  src/main/resources/data/ait/sonic/crystalline.json
  src/main/resources/data/ait/sonic/fob.json
  src/main/resources/data/ait/sonic/mechanical.json
  src/main/resources/data/ait/sonic/renaissance.json
  src/main/resources/data/ait/sonic/singularity.json
  src/main/resources/data/ait/sonic/song.json
  src/main/resources/data/ait/sonic/type_100.json
Labels: T: Bugfix, size/S, C: No Java

#1159 Property same reference fix check
  src/main/java/dev/amble/ait/data/properties/Property.java
  src/main/java/dev/amble/ait/data/properties/Value.java
Labels: T: Bugfix, size/S, S: Needs Review, C: Networking, A: Tardis Components

#1161 ci: generate changelog
  .github/workflows/changelog.yml
  CHANGELOG.md
  scripts/generate_changelogs.py
  scripts/requirements.txt
Labels: size/M, C: No Java

#1164 fix: dont subtract artron when in growth
  src/main/java/dev/amble/ait/core/engine/impl/DematCircuit.java
  src/main/java/dev/amble/ait/core/tardis/handler/FuelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
Labels: T: Bugfix, size/S, S: Approved, A: Tardis Components

#1163 fix: use client tardis ref in door models
  src/main/java/dev/amble/ait/client/models/coral/CoralGrowthDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/BookshelfDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/BoothDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/CapsuleDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/ClassicDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/ClassicHudolinDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/DalekModDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/EasterHeadDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/GeometricDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/PlinthDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/PoliceBoxDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/PresentDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/RenegadeDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/StallionDoorModel.java
  src/main/java/dev/amble/ait/client/models/doors/TardimDoorModel.java
Labels: T: Bugfix, size/S, S: Needs Review, C: Render, A: Tardis Components

#1165 ci: automagically assign reviewers based on PR size
  .github/workflows/pr-labeler-size.yml
Labels: T: New Feature, size/S, C: No Java, A: Core Tech

#1166 feat: good man music disc
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITItemTagProvider.java
  src/main/resources/assets/ait/models/item/good_man_music_disc.json
  src/main/resources/assets/ait/sounds/music/good_man_dian.ogg
  src/main/resources/assets/ait/textures/item/good_man_music_disc.png
  src/main/resources/assets/ait/textures/item/wonderful_time_in_space_music_disc.png
Labels: C: Textures, S: Approved, C: Audio

#1167 ci: fix auto assign
  .github/workflows/pr-labeler-size.yml
Labels: size/XS, C: No Java

#1172 feat: music discs spawn in structures
  src/main/resources/data/ait/loot_tables/chests/cult_chest_one.json
  src/main/resources/data/ait/loot_tables/chests/space_ship.json
Labels: S: Untriaged, size/S, S: Needs Review, S: Approved, C: No Java

#1169 add CODEOWNERS
  .github/CODEOWNERS
Labels: S: Untriaged, size/S, S: Approved, C: No Java

#1173 refactor: use passed client tardis ref in exterior models
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/client/models/coral/CoralGrowthExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/BookshelfExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/BoothExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/CapsuleExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/ClassicExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/ClassicHudolinExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/DoomExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/EasterHeadModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/ExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/GeometricExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/JakeTheDogExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/PipeExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/PlinthExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/PoliceBoxCoralModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/PoliceBoxModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/PresentExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/RenegadeExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/SiegeModeModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/StallionExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/TardimExteriorModel.java
  src/main/java/dev/amble/ait/client/models/exteriors/advent/DalekModExteriorModel.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
Labels: S: Untriaged, size/M, S: Approved

#1174 ci: use bot token instead of ci token
  .github/workflows/pr-labeler-approve.yml
Labels: S: Untriaged, size/XS, S: Approved, C: No Java

#1178 perf: simplify exterior alpha calculations
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/core/tardis/animation/ExteriorAnimation.java
Labels: T: Refactor, size/S, S: Needs Review, S: Approved, C: Render, A: Tardis Components, A: General Interactions

#1193 Release Workflow Changes
  .github/workflows/changelog.yml
  .github/workflows/publish.yml
Labels: size/S, S: Approved, C: No Java, A: Core Tech

#1191 feat: monitor idle sfx
  src/main/java/dev/amble/ait/client/screens/ConsoleScreen.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/resources/assets/ait/sounds/tardis/monitor_idle.ogg
Labels: T: UI / UX Improvement, size/S, S: Approved, D3: Low, C: UI, C: Audio, A: Console

#1189 chore: mark/set waypoint -> save/load waypoint
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, T: UI / UX Improvement, size/XS, S: Approved, C: No Java, A: Console

#1187 feat: sonic scan mode is hand-dependent
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
Labels: T: UI / UX Improvement, size/S, S: Approved, A: General Interactions

#1186 build: if branch is release, then the qualifier is ignored
  versioning.gradle
Labels: size/XS, S: Approved, P3: Standard, C: No Java, A: Core Tech

#1192 feat: engine comes with cables, requires 3x3 space
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: New Feature, A: Datagen, size/M, S: Approved, A: Engine

#1194 BOTI Warning for AMD GPUs without Indium
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/BOTI.java
  src/main/java/dev/amble/ait/compat/DependencyChecker.java
Labels: T: UI / UX Improvement, size/S, S: Approved, C: Render, A: General Interactions

#1197 feat: updated "good man"
  src/main/resources/assets/ait/sounds/music/good_man_dian.ogg
Labels: S: Untriaged, size/XS, S: Approved, C: No Java, C: Audio

#1198 OH NO
  src/main/java/dev/amble/ait/core/entities/FlightTardisEntity.java
Labels: S: Untriaged, size/XS, S: Needs Review

#1199 1.2.0 Patch Release #1
  .github/workflows/changelog.yml
  .github/workflows/publish.yml
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/BOTI.java
  src/main/java/dev/amble/ait/client/screens/ConsoleScreen.java
  src/main/java/dev/amble/ait/compat/DependencyChecker.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/dev/amble/ait/core/entities/FlightTardisEntity.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/sounds/music/good_man_dian.ogg
  src/main/resources/assets/ait/sounds/tardis/monitor_idle.ogg
  versioning.gradle
Labels: A: Datagen, S: Untriaged, size/M, S: Needs Review, S: Approved, C: Audio, A: Engine

#1188 feat: subsystem name is displayed when sonic scans the block
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, T: UI / UX Improvement, size/S, S: Approved, C: Render, A: Engine, A: General Interactions

#1223 fix: exterior not rendering behind the shields
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
Labels: S: Untriaged, size/S, S: Needs Review

#1222 chore: obliterated visualiser control from the consoles
  src/main/java/dev/amble/ait/data/schema/console/type/AlnicoType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CopperType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CoralType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CrystallineType.java
  src/main/java/dev/amble/ait/data/schema/console/type/HartnellType.java
  src/main/java/dev/amble/ait/data/schema/console/type/RenaissanceType.java
  src/main/java/dev/amble/ait/data/schema/console/type/SteamType.java
  src/main/java/dev/amble/ait/data/schema/console/type/ToyotaType.java
Labels: S: Untriaged, size/S, S: Approved

#1227 Feat/inventory key GUI exiting
  src/main/java/dev/amble/ait/client/screens/AstralMapScreen.java
  src/main/java/dev/amble/ait/client/screens/ConsoleScreen.java
  src/main/java/dev/amble/ait/client/screens/LandingPadScreen.java
  src/main/java/dev/amble/ait/client/screens/TardisSecurityScreen.java
Labels: S: Untriaged, size/S, S: Approved

#1231 Sync 1.3.0 with Main
  .github/workflows/changelog.yml
  .github/workflows/pr-close-master.yml
  .github/workflows/publish.yml
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/BOTI.java
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/client/screens/AstralMapScreen.java
  src/main/java/dev/amble/ait/client/screens/ConsoleScreen.java
  src/main/java/dev/amble/ait/client/screens/LandingPadScreen.java
  src/main/java/dev/amble/ait/client/screens/TardisSecurityScreen.java
  src/main/java/dev/amble/ait/compat/DependencyChecker.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
  src/main/java/dev/amble/ait/core/entities/FlightTardisEntity.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintItem.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintSchema.java
  src/main/java/dev/amble/ait/core/item/sonic/ScanningSonicMode.java
  src/main/java/dev/amble/ait/data/schema/console/type/AlnicoType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CopperType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CoralType.java
  src/main/java/dev/amble/ait/data/schema/console/type/CrystallineType.java
  src/main/java/dev/amble/ait/data/schema/console/type/HartnellType.java
  src/main/java/dev/amble/ait/data/schema/console/type/RenaissanceType.java
  src/main/java/dev/amble/ait/data/schema/console/type/SteamType.java
  src/main/java/dev/amble/ait/data/schema/console/type/ToyotaType.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/sounds/music/good_man_dian.ogg
  src/main/resources/assets/ait/sounds/tardis/monitor_idle.ogg
  versioning.gradle
Labels: A: Datagen, size/M, S: Needs Review, C: Audio, A: Engine

#1232 fix: Dalek Mod Exteriors being disabled
  src/main/java/dev/amble/ait/data/schema/exterior/variant/dalek_mod/DalekModVariant.java
  src/main/java/dev/amble/ait/registry/impl/CategoryRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ClientExteriorVariantRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ExteriorVariantRegistry.java
Labels: S: Untriaged, size/S, S: Needs Review

#1235 fix: config schizophrenia
  src/main/java/dev/amble/ait/config/AITClientConfig.java
  src/main/java/dev/amble/ait/config/AITConfig.java
  src/main/java/dev/amble/ait/config/AITServerConfig.java
Labels: T: Bugfix, size/M, S: Needs Review, A: Core Tech, S: Needs Testing

#1217 fix: position of sonic overlay
  src/main/java/dev/amble/ait/client/overlays/SonicOverlay.java
Labels: S: Untriaged, size/XS, S: Needs Review

#1233 fix: Engine not breaking its blocks
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
Labels: S: Untriaged, size/S, S: Approved, A: Engine

#1226 chore: delete invalid exteriors on use and on collision
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/BOTI.java
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, S: Untriaged, size/S, S: Approved, A: Engine

#1229 fix: tardis returning another subsystem core
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
Labels: S: Untriaged, size/S, S: Approved, A: Engine

#1237 Fix/transparent doors and boti scale
  src/main/java/dev/amble/ait/client/boti/TardisDoorBOTI.java
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/client/screens/ConsoleScreen.java
  src/main/java/dev/amble/ait/config/AITConfig.java
  src/main/java/dev/amble/ait/config/AITServerConfig.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintItem.java
  src/main/java/dev/amble/ait/data/datapack/DatapackExterior.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/booth/client/ClientBoothVariant.java
Labels: S: Untriaged, size/S, S: Approved

#1238 fix: /ait data command accepts any json element now
  src/main/java/dev/amble/ait/core/commands/DataCommand.java
Labels: T: Bugfix, T: Of Admin Interest, size/XS, S: Approved, P3: Standard, A: Admin Tooling

#1241 fix: ait:staser_bolt_magazine not being in loottables
  src/main/resources/data/ait/loot_tables/chests/cult_chest_one.json
Labels: T: Bugfix, size/XS, S: Approved, P2: Raised, C: No Java, C: Structures, A: General Interactions

#1234 fix: use only closed PRs for the changelog generator
  scripts/generate_changelogs.py
Labels: T: Bugfix, size/S, S: Approved, C: No Java, A: Core Tech

#1244 Fix/armorstand armor rendering
  src/main/java/dev/amble/ait/client/renderers/wearables/RespiratorFeatureRenderer.java
  src/main/java/dev/amble/ait/module/planet/client/renderers/wearables/SpacesuitFeatureRenderer.java
Labels: S: Untriaged, size/XS, S: Needs Review

#1247 fix/scale_invisibility
  src/main/java/dev/amble/ait/core/tardis/handler/StatsHandler.java
Labels: S: Untriaged, size/XS, S: Needs Review, A: Tardis Components

#1248 Fixed Spacesuit Breathing
  src/main/java/dev/amble/ait/client/screens/AstralMapScreen.java
  src/main/java/dev/amble/ait/module/planet/mixin/gravity/LivingEntityMixin.java
Labels: S: Untriaged, size/XS, S: Approved

#1236 fix: attempt fixing the sync crash
  src/main/java/dev/amble/ait/client/tardis/manager/ClientTardisManager.java
  src/main/java/dev/amble/ait/data/TardisMap.java
Labels: T: Bugfix, size/S, S: Approved, C: Networking, A: Core Tech

#1256 Sync 1.3.0 with Main
  scripts/generate_changelogs.py
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/BOTI.java
  src/main/java/dev/amble/ait/client/boti/TardisDoorBOTI.java
  src/main/java/dev/amble/ait/client/boti/TardisExteriorBOTI.java
  src/main/java/dev/amble/ait/client/overlays/SonicOverlay.java
  src/main/java/dev/amble/ait/client/renderers/SonicRendering.java
  src/main/java/dev/amble/ait/client/renderers/wearables/RespiratorFeatureRenderer.java
  src/main/java/dev/amble/ait/client/screens/AstralMapScreen.java
  src/main/java/dev/amble/ait/client/screens/ConsoleScreen.java
  src/main/java/dev/amble/ait/client/screens/LandingPadScreen.java
  src/main/java/dev/amble/ait/client/screens/TardisSecurityScreen.java
  src/main/java/dev/amble/ait/client/tardis/manager/ClientTardisManager.java
  src/main/java/dev/amble/ait/config/AITClientConfig.java
  src/main/java/dev/amble/ait/config/AITConfig.java
  src/main/java/dev/amble/ait/config/AITServerConfig.java
  src/main/java/dev/amble/ait/core/blockentities/EngineBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/commands/DataCommand.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintItem.java
  src/main/java/dev/amble/ait/core/tardis/handler/StatsHandler.java
  src/main/java/dev/amble/ait/data/TardisMap.java
  src/main/java/dev/amble/ait/data/datapack/DatapackExterior.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/booth/client/ClientBoothVariant.java
  src/main/java/dev/amble/ait/data/schema/exterior/variant/dalek_mod/DalekModVariant.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/module/planet/client/renderers/wearables/SpacesuitFeatureRenderer.java
  src/main/java/dev/amble/ait/module/planet/mixin/gravity/LivingEntityMixin.java
  src/main/java/dev/amble/ait/registry/impl/CategoryRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ClientExteriorVariantRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ExteriorVariantRegistry.java
  src/main/resources/data/ait/loot_tables/chests/cult_chest_one.json
Labels: A: Datagen, S: Untriaged, size/M, S: Approved, A: Tardis Components, A: Engine, A: Admin Tooling

#1255 fix: reverted mercury disc because any sort of compression made it so…
  src/main/resources/assets/ait/sounds/music/mercury_nitrogenez.ogg
Labels: size/XS, S: Approved, C: No Java, C: Audio

#1261 fix: PlanetBlocks loottables / swords are less OP
  src/main/java/dev/amble/ait/module/planet/core/PlanetBlocks.java
  src/main/java/dev/amble/ait/module/planet/core/PlanetItems.java
Labels: S: Untriaged, size/M, S: Approved

#1260 Armor Stand Rendering For Our Custom Render Features
  src/main/java/dev/amble/ait/client/renderers/wearables/RespiratorFeatureRenderer.java
  src/main/java/dev/amble/ait/mixin/client/rendering/ArmorStandEntityRendererMixin.java
  src/main/java/dev/amble/ait/module/planet/client/renderers/wearables/SpacesuitFeatureRenderer.java
  src/main/resources/ait.mixins.json
Labels: T: Bugfix, size/S, S: Approved, C: Render, A: General Interactions

#1275 FUCKING HELL
  src/main/java/dev/amble/ait/core/commands/EraseChunksCommand.java
Labels: S: Untriaged, size/XS, S: Approved, A: Admin Tooling

#1274 fix: store proper subsystem in the chest on reconfig
  src/main/java/dev/amble/ait/core/blocks/EngineBlock.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/core/engine/block/SubSystemBlock.java
  src/main/java/dev/amble/ait/core/engine/block/SubSystemBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/block/generic/GenericStructureSystemBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/block/generic/GenericSubSystemBlock.java
  src/main/java/dev/amble/ait/core/engine/impl/ChameleonCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/DematCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/DesperationCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/EmergencyPower.java
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
  src/main/java/dev/amble/ait/core/engine/impl/GravitationalCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/LifeSupportCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/ShieldsCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/Stabilisers.java
Labels: T: Bugfix, size/M, S: Approved, A: Engine

#1273 perf: improved security check
  src/main/java/dev/amble/ait/core/blockentities/control/ControlBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/control/RedstoneControlBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/control/RedstoneControlBlock.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SecurityControl.java
Labels: T: Performance, size/S, S: Approved, A: Tardis Components, A: Console

#1286 fix: update changelog
  CHANGELOG.md
  scripts/generate_changelogs.py
Labels: size/S, S: Needs Review, C: No Java

#1283 fix: sonic screen going dark????
  src/main/java/dev/amble/ait/client/overlays/SonicOverlay.java
Labels: S: Untriaged, size/S, S: Approved

#1272 fix: handles can no longer bypass security protocols
  src/main/java/dev/amble/ait/core/handles/HandlesResponse.java
  src/main/java/dev/amble/ait/registry/impl/HandlesResponseRegistry.java
Labels: T: Bugfix, size/S, S: Needs Review, A: General Interactions

#1280 fix: the painting no longer move up by one block
  src/main/java/dev/amble/ait/core/entities/GallifreyFallsPaintingEntity.java
Labels: size/S, S: Needs Review, C: Networking, A: General Interactions

#1279 fix: provide a fallback sound for hammer hanger control
  src/main/java/dev/amble/ait/core/tardis/control/impl/HammerHangerControl.java
Labels: T: UI / UX Improvement, size/S, S: Needs Review, A: Console

#1278 fix: disable autopilot after growth land
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
Labels: T: Bugfix, size/XS, S: Needs Review, A: Tardis Components

#1276 fix: use min loyalty security setting properly
  src/main/java/dev/amble/ait/core/tardis/control/impl/SecurityControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/permissions/PermissionHandler.java
Labels: size/XS, S: Needs Review, A: Tardis Components, A: Console

#1281 perf: improve siege tardis ticking
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
Labels: T: Performance, size/S, S: Needs Review, A: Tardis Components

#1268 fix: no more log spam
  src/main/java/dev/amble/ait/core/tardis/manager/TardisFileManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
Labels: T: Bugfix, S: Needs Review, A: Tardis Components, A: Core Tech

#1287 update changelog
  CHANGELOG.md
Labels: size/S, S: Needs Review, C: No Java

#1288 1.2.0 patch 3
  CHANGELOG.md
  src/main/java/dev/amble/ait/client/boti/GallifreyFallsBOTI.java
  src/main/java/dev/amble/ait/client/overlays/SonicOverlay.java
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/EngineBlock.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
  src/main/java/dev/amble/ait/core/engine/block/generic/GenericSubSystemBlock.java
  src/main/java/dev/amble/ait/core/engine/impl/ChameleonCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/DematCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/DesperationCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/EmergencyPower.java
  src/main/java/dev/amble/ait/core/engine/impl/EngineSystem.java
  src/main/java/dev/amble/ait/core/engine/impl/GravitationalCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/LifeSupportCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/ShieldsCircuit.java
  src/main/java/dev/amble/ait/core/engine/impl/Stabilisers.java
  src/main/java/dev/amble/ait/core/entities/GallifreyFallsPaintingEntity.java
  src/main/java/dev/amble/ait/core/handles/HandlesResponse.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/HammerHangerControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SecurityControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/permissions/PermissionHandler.java
  src/main/java/dev/amble/ait/core/tardis/manager/TardisFileManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/registry/impl/HandlesResponseRegistry.java
Labels: S: Untriaged, size/M, S: Needs Review, A: Tardis Components, A: Engine, A: Console

#1301 refactor: done some stuff to exterior block entity
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
Labels: S: Untriaged, size/S, S: Needs Review

#1298 fix: kill interior drops on interior change end
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: T: Bugfix, size/S, S: Approved, A: Tardis Components

#1297 fix: requeue the interior change on restart
  src/main/java/dev/amble/ait/core/tardis/ServerTardis.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
Labels: T: Bugfix, size/S, S: Approved, A: Tardis Components

#1300 feat: you can now reference tardises around in commands (^ and ~)
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/core/commands/DataCommand.java
  src/main/java/dev/amble/ait/core/commands/DebugCommand.java
  src/main/java/dev/amble/ait/core/commands/FlightCommand.java
  src/main/java/dev/amble/ait/core/commands/FuelCommand.java
  src/main/java/dev/amble/ait/core/commands/GetCreatorCommand.java
  src/main/java/dev/amble/ait/core/commands/GetNameCommand.java
  src/main/java/dev/amble/ait/core/commands/LinkCommand.java
  src/main/java/dev/amble/ait/core/commands/ListCommand.java
  src/main/java/dev/amble/ait/core/commands/LoadCommand.java
  src/main/java/dev/amble/ait/core/commands/RemoveCommand.java
  src/main/java/dev/amble/ait/core/commands/SetLockedCommand.java
  src/main/java/dev/amble/ait/core/commands/SetMaxSpeedCommand.java
  src/main/java/dev/amble/ait/core/commands/SetNameCommand.java
  src/main/java/dev/amble/ait/core/commands/SetRepairTicksCommand.java
  src/main/java/dev/amble/ait/core/commands/SetSiegeCommand.java
  src/main/java/dev/amble/ait/core/commands/SummonTardisCommand.java
  src/main/java/dev/amble/ait/core/commands/TeleportInteriorCommand.java
  src/main/java/dev/amble/ait/core/commands/ThisTardisCommand.java
  src/main/java/dev/amble/ait/core/commands/TravelDebugCommand.java
  src/main/java/dev/amble/ait/core/commands/TriggerMoodRollCommand.java
  src/main/java/dev/amble/ait/core/commands/UnlockCommand.java
  src/main/java/dev/amble/ait/core/commands/argument/TardisArgumentType.java
Labels: T: UI / UX Improvement, size/M, S: Approved, A: Admin Tooling

#1291 fix: put generic subsystem cores alongside subsystems
  src/main/java/dev/amble/ait/core/engine/SubSystem.java
Labels: T: Bugfix, size/XS, S: Approved, A: Engine

#1302 backport TM code from #1271
  src/main/java/dev/amble/ait/client/tardis/manager/ClientTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/TardisManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/ServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/TardisFileManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/data/TardisMap.java
Labels: T: Bugfix, T: Performance, size/M, S: Approved, A: Tardis Components

#1308 various networking & perf improvements
  src/main/java/dev/amble/ait/core/entities/FallingTardisEntity.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/manager/ServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/core/util/ForcedChunkUtil.java
  src/main/java/dev/amble/ait/mixin/networking/ThreadedAnvilChunkStorageMixin.java
Labels: T: Performance, size/S, S: Approved, A: Tardis Components, A: Core Tech

#1312 refactor: use queues for safe position search
  src/main/java/dev/amble/ait/core/commands/SafePosCommand.java
  src/main/java/dev/amble/ait/core/commands/argument/GroundSearchArgumentType.java
  src/main/java/dev/amble/ait/core/entities/FlightTardisEntity.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/LandTypeControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
  src/main/java/dev/amble/ait/core/util/SafePosSearch.java
  src/main/java/dev/amble/ait/core/util/WorldUtil.java
Labels: T: Bugfix, T: Performance, T: Refactor, size/M, S: Needs Review, A: Tardis Components, A: Core Tech, S: Needs Testing

#1316 fix: don't load the tardis when the file manager is locked
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
Labels: size/XS, S: Approved, A: Core Tech

#1317 fix: use tardis getter in tardis server world to prevent a crash
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: T: Bugfix, size/XS, S: Approved, A: Core Tech

#1321 feat: corpoyta interior
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/textures/desktop/corpoyta.png
  src/main/resources/data/ait/desktop/corpoyta.json
  src/main/resources/data/ait/structures/interiors/corpoyta.nbt
Labels: C: Textures, A: Datagen, size/XS, S: Approved, C: Structures

#1340 bring back travel queue PR
  src/main/java/dev/amble/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ThrottleControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
Labels: S: Untriaged, size/M, A: Tardis Components, A: Console

#1345 sync 1.3.0 w main
  src/main/java/dev/amble/ait/client/models/exteriors/ExteriorModel.java
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/core/AITBlockEntityTypes.java
  src/main/java/dev/amble/ait/core/AITBlocks.java
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/CableBlock.java
  src/main/java/dev/amble/ait/core/blocks/ConsoleGeneratorBlock.java
  src/main/java/dev/amble/ait/core/blocks/EngineBlock.java
  src/main/java/dev/amble/ait/core/blocks/FullCableBlock.java
  src/main/java/dev/amble/ait/core/blocks/PowerConverterBlock.java
  src/main/java/dev/amble/ait/core/commands/SafePosCommand.java
  src/main/java/dev/amble/ait/core/commands/argument/GroundSearchArgumentType.java
  src/main/java/dev/amble/ait/core/engine/block/generic/GenericSubSystemBlock.java
  src/main/java/dev/amble/ait/core/engine/link/block/CableBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/link/block/FluidLinkBlock.java
  src/main/java/dev/amble/ait/core/engine/link/block/FluidLinkBlockEntity.java
  src/main/java/dev/amble/ait/core/engine/link/block/FullCableBlockEntity.java
  src/main/java/dev/amble/ait/core/entities/FlightTardisEntity.java
  src/main/java/dev/amble/ait/core/tardis/animation/ExteriorAnimation.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/LandTypeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ThrottleControl.java
  src/main/java/dev/amble/ait/core/tardis/control/sound/ControlSoundRegistry.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/util/AsyncLocatorUtil.java
  src/main/java/dev/amble/ait/core/util/SafePosSearch.java
  src/main/java/dev/amble/ait/core/util/WorldUtil.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/models/block/full_cable_block.json
  src/main/resources/assets/ait/models/item/full_cable_block.json
  src/main/resources/assets/ait/textures/block/piping_full.png
  src/main/resources/assets/ait/textures/desktop/corpoyta.png
  src/main/resources/data/ait/desktop/corpoyta.json
  src/main/resources/data/ait/loot_tables/chests/cult_chest_one.json
  src/main/resources/data/ait/structures/interiors/corpoyta.nbt
Labels: C: Textures, A: Datagen, size/M, S: Needs Review, C: Structures, A: Tardis Components, A: Engine, A: Admin Tooling, A: Console

#1348 fix: better GM and WTIS disc textures
  src/main/resources/assets/ait/textures/item/good_man_music_disc.png
  src/main/resources/assets/ait/textures/item/wonderful_time_in_space_music_disc.png
Labels: C: Textures, S: Untriaged, size/XS, S: Approved, C: No Java

#1354 Animations: Interpolating Values & Rotating & Positioning
  src/main/java/dev/amble/ait/client/renderers/exteriors/ExteriorRenderer.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/AnimationHolder.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/TardisAnimation.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/keyframe/AnimationKeyframe.java
  src/main/java/dev/amble/ait/core/tardis/animation/v2/keyframe/KeyframeTracker.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
Labels: S: Untriaged, A: Tardis Components
