Repository amblelabs/ait, pull requests merged in 2025-08, with the labels that each got.

#1779 feat: adaptive exterior
  src/main/java/dev/amble/ait/api/tardis/TardisEvents.java
  src/main/java/dev/amble/ait/client/sounds/hum/exterior/ExteriorHumHandler.java
  src/main/java/dev/amble/ait/core/blocks/ExteriorBlock.java
  src/main/java/dev/amble/ait/core/commands/DebugCommand.java
  src/main/java/dev/amble/ait/core/tardis/TardisExterior.java
  src/main/java/dev/amble/ait/core/tardis/handler/BiomeHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ChameleonHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/RealFlightHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/module/planet/core/space/planet/PlanetRegistry.java
  src/main/java/dev/amble/ait/registry/impl/CategoryRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ClientExteriorVariantRegistry.java
  src/main/java/dev/amble/ait/registry/impl/exterior/ExteriorVariantRegistry.java
  src/main/java/dev/drtheo/gaslighter/Gaslighter3000.java
  src/main/java/dev/drtheo/gaslighter/api/FakeBlockEvents.java
  src/main/java/dev/drtheo/gaslighter/mixin/ServerPlayNetworkHandlerMixin.java
  src/main/resources/data/ait/worldgen/configured_feature/cactus.json
Labels: T: Bugfix, T: New Feature, A: Datagen, size/M, S: Approved, P3: Standard, C: Networking, A: Tardis Components, A: General Interactions, A: Core Tech, A: Admin Tooling, C: Chunks

#1785 Inform player if growth is still in progress
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: New Feature, A: Datagen, size/XS, S: Approved, P3: Standard, A: General Interactions, C: Translations

#1790 Update build.gradle
  build.gradle
Labels: T: Bugfix, size/XS, S: Needs Review, P2: Raised, C: No Java, A: Admin Tooling

#1787 buff stasers
  src/main/java/dev/amble/ait/module/gun/core/entity/StaserBoltEntity.java
Labels: S: Untriaged, size/XS, S: Approved

#1789 Feat: sonic lever and button interaction
  src/main/java/dev/amble/ait/core/item/sonic/InteractionSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/OverloadSonicMode.java
  src/main/java/dev/amble/ait/core/item/sonic/SonicMode.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITBlockTagProvider.java
Labels: T: New Feature, A: Datagen, size/S, S: Awaiting Changes, S: Approved, P3: Standard, C: Render, A: General Interactions

#1800 feat: portal gun sonic skin
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/models/item/sonic/portal_gun.json
  src/main/resources/assets/ait/models/item/sonic/portal_gun/inactive.json
  src/main/resources/assets/ait/models/item/sonic/portal_gun/interaction.json
  src/main/resources/assets/ait/models/item/sonic/portal_gun/overload.json
  src/main/resources/assets/ait/models/item/sonic/portal_gun/scanning.json
  src/main/resources/assets/ait/models/item/sonic/portal_gun/tardis.json
  src/main/resources/assets/ait/textures/item/sonic_tools/portal_gun_inactive.png
  src/main/resources/assets/ait/textures/item/sonic_tools/portal_gun_interaction.png
  src/main/resources/assets/ait/textures/item/sonic_tools/portal_gun_overload.png
  src/main/resources/assets/ait/textures/item/sonic_tools/portal_gun_scanning.png
  src/main/resources/assets/ait/textures/item/sonic_tools/portal_gun_tardis.png
  src/main/resources/data/ait/sonic/portal_gun.json
Labels: C: Textures, A: Datagen, S: Untriaged, S: Approved

#1801 feat: luigi mansion vortex
  src/main/resources/assets/ait/textures/vortex/pixelator.png
  src/main/resources/assets/ait/textures/vortex/pixelator_second.png
  src/main/resources/assets/ait/textures/vortex/pixelator_third.png
  src/main/resources/data/ait/fx/vortex/pixelator.json
Labels: C: Textures, S: Untriaged, S: Needs Review, C: No Java

#1804 fix overload not breaking all glass and glass panes
  src/main/java/dev/amble/ait/core/item/sonic/OverloadSonicMode.java
Labels: S: Untriaged, size/XS, S: Approved

#1788 food machine
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/models/machines/FoodMachineModel.java
  src/main/java/dev/amble/ait/client/renderers/machines/FoodMachineRenderer.java
  src/main/java/dev/amble/ait/client/screens/AstralMapScreen.java
  src/main/java/dev/amble/ait/core/AITBlockEntityTypes.java
  src/main/java/dev/amble/ait/core/AITBlocks.java
  src/main/java/dev/amble/ait/core/AITFoodComponents.java
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/blockentities/FoodMachineBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/FoodMachineBlock.java
  src/main/java/dev/amble/ait/core/item/GlintItem.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/blockstates/food_machine.json
  src/main/resources/assets/ait/models/block/food_machine.json
  src/main/resources/assets/ait/models/item/food_cube.json
  src/main/resources/assets/ait/models/item/food_machine.json
  src/main/resources/assets/ait/models/item/overcharged_food_cube.json
  src/main/resources/assets/ait/textures/block/food_machine.png
  src/main/resources/assets/ait/textures/blockentities/machines/food_machine.png
  src/main/resources/assets/ait/textures/item/food_cube.png
  src/main/resources/assets/ait/textures/item/food_machine.png
  src/main/resources/data/ait/blueprint/food_machine.json
Labels: C: Textures, A: Datagen, S: Untriaged, size/M, S: Approved

#1810 Revert "Revert "food machine""
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/models/machines/FoodMachineModel.java
  src/main/java/dev/amble/ait/client/renderers/machines/FoodMachineRenderer.java
  src/main/java/dev/amble/ait/client/screens/AstralMapScreen.java
  src/main/java/dev/amble/ait/core/AITBlockEntityTypes.java
  src/main/java/dev/amble/ait/core/AITBlocks.java
  src/main/java/dev/amble/ait/core/AITFoodComponents.java
  src/main/java/dev/amble/ait/core/AITItems.java
  src/main/java/dev/amble/ait/core/blockentities/FoodMachineBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/FoodMachineBlock.java
  src/main/java/dev/amble/ait/core/item/GlintItem.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/blockstates/food_machine.json
  src/main/resources/assets/ait/models/block/food_machine.json
  src/main/resources/assets/ait/models/item/food_cube.json
  src/main/resources/assets/ait/models/item/food_machine.json
  src/main/resources/assets/ait/models/item/overcharged_food_cube.json
  src/main/resources/assets/ait/textures/block/food_machine.png
  src/main/resources/assets/ait/textures/blockentities/machines/food_machine.png
  src/main/resources/assets/ait/textures/item/food_cube.png
  src/main/resources/assets/ait/textures/item/food_machine.png
  src/main/resources/data/ait/blueprint/food_machine.json
Labels: C: Textures, A: Datagen, size/M, S: Needs Review

#1807 fix: food machine can be mined with iron pick and sound fix
  src/main/java/dev/amble/ait/core/blocks/FoodMachineBlock.java
Labels: T: Bugfix, S: Untriaged, size/XS, S: Approved, C: Audio

#1811 typo in readme
  README.md
Labels: T: Cleanup, S: Needs Review, P3: Standard, C: No Java, C: Translations

#1812 feat: overload mode breaks bricks now
  src/main/java/dev/amble/ait/core/item/sonic/OverloadSonicMode.java
Labels: T: New Feature, size/XS, S: Approved, P3: Standard, A: General Interactions

#1817 Rift Tags
  src/main/java/dev/amble/ait/core/AITTags.java
  src/main/java/dev/amble/ait/core/entities/RiftEntity.java
  src/main/java/dev/amble/ait/core/item/SiegeTardisItem.java
  src/main/java/dev/amble/ait/core/util/TagsUtil.java
  src/main/java/dev/amble/ait/datagen/datagen_providers/AITItemTagProvider.java
Labels: T: New Feature, A: Datagen, T: Of Admin Interest, size/S, S: Approved, C: No Java

#1822 fix: description.attack_eyebrows spelling again
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, size/XS, S: Approved

#1815 JEI Compatibility
  build.gradle
  gradle.properties
  src/main/java/dev/amble/ait/compat/jei/AITJeiPlugin.java
  src/main/java/dev/amble/ait/compat/jei/client/BlueprintInputItemStackRenderer.java
  src/main/java/dev/amble/ait/compat/jei/client/FabricatorRecipeCategory.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintSchema.java
  src/main/resources/fabric.mod.json
Labels: T: New Feature, A: Datagen, T: UI / UX Improvement, size/M, S: Needs Review, C: UI, A: Guidebook, A: Core Tech

#1825 Update README.md
  README.md
Labels: size/XS, S: Approved, C: No Java

#1826 Update README.md
  README.md
Labels: S: Untriaged, size/XS, S: Approved, C: No Java

#1833 fix #1832
  src/main/java/dev/amble/ait/client/sounds/SoundHandler.java
Labels: T: Bugfix, size/S, S: Approved

#1861 feat: /ait unlink command
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/api/tardis/link/LinkableItem.java
  src/main/java/dev/amble/ait/core/commands/UnLinkCommand.java
Labels: T: UI / UX Improvement, T: Of Admin Interest, size/S, S: Approved, A: Tardis Components, A: Admin Tooling

#1863 No exterior hum when cloaked
  src/main/java/dev/amble/ait/client/sounds/hum/exterior/ExteriorHumHandler.java
Labels: T: Bugfix, size/XS, S: Needs Review

#1829 Feat: Add engine overdrive arming mechanism
  src/main/java/dev/amble/ait/api/tardis/TardisEvents.java
  src/main/java/dev/amble/ait/core/blockentities/control/ControlBlockEntity.java
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/tardis/control/Control.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ElectricalDischargeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/EngineOverloadControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/PowerControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/RandomiserControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SecurityControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/SiegeModeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/TelepathicControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: T: New Feature, A: Datagen, size/M, S: Approved, P3: Standard, A: Tardis Components, A: Console, C: Translations

#1857 Fix celsius showing fahrenheit degrees
  src/main/java/dev/amble/ait/client/config/AITClientConfig.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/module/planet/client/SpaceSuitOverlay.java
  src/main/java/dev/amble/ait/module/planet/core/space/planet/Planet.java
  src/main/resources/assets/ait/lang/uk_ua.existing.json
Labels: T: Bugfix, A: Datagen, T: Cleanup, size/S, S: Needs Review, P3: Standard, C: UI, A: General Interactions

#1831 Prevent TARDIS in TARDIS landing via Hail Mary protocol
  src/main/java/dev/amble/ait/core/item/KeyItem.java
Labels: T: Bugfix, size/XS, S: Approved, P3: Standard, A: Core Tech, C: Chunks
