Repository amblelabs/ait, pull requests merged in 2025-09, with the labels that each got.

#1864 fix exterior selection screen
  src/main/java/dev/amble/ait/client/screens/MonitorScreen.java
Labels: T: Bugfix, T: UI / UX Improvement, size/XS, S: Approved, P3: Standard, C: UI, A: Console

#1865 fix dropped items in interior being teleported instantly
  src/main/java/dev/amble/ait/mixin/server/ItemEntityMixin.java
Labels: T: Bugfix, size/XS, S: Approved, P3: Standard, A: General Interactions, C: Chunks

#1866 Fix explosion (and fire) gamerules
  src/main/java/dev/amble/ait/core/blocks/PeanutBlock.java
  src/main/java/dev/amble/ait/core/entities/FallingTardisEntity.java
  src/main/java/dev/amble/ait/core/item/HammerItem.java
  src/main/java/dev/amble/ait/core/tardis/handler/SelfDestructHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
Labels: T: Bugfix, size/S, S: Approved, P3: Standard, A: Tardis Components, A: Core Tech, C: Chunks

#1870 fix: datapack exteriors floating in screen
  src/main/java/dev/amble/ait/client/screens/MonitorScreen.java
Labels: size/S

#1856 feat: handles improvements
  src/main/java/dev/amble/ait/client/config/AITClientConfig.java
  src/main/java/dev/amble/ait/client/renderers/entities/ControlEntityRenderer.java
  src/main/java/dev/amble/ait/core/handles/HandlesResponse.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/registry/impl/HandlesResponseRegistry.java
  src/main/java/dev/amble/lib/util/Levenshtein.java
  src/main/resources/assets/ait/textures/yacl3/client/levenshtein.webp
Labels: T: New Feature, C: Textures, A: Datagen, size/S, S: Awaiting Changes, P3: Standard, A: Tardis Components, A: Console, S: Needs Testing

#1506 Daleks & Dalek Ships + All Dalek Stuff
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/animation/entities/daleks/imperial/ImperialDalekAnimations.java
  src/main/java/dev/amble/ait/client/models/entities/hostile/daleks/DalekModel.java
  src/main/java/dev/amble/ait/client/models/entities/transport/DalekShipModel.java
  src/main/java/dev/amble/ait/client/renderers/entities/DalekEntityRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/DalekShipEntityRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/feature/DalekLightFeatureRenderer.java
  src/main/java/dev/amble/ait/core/AITEntityTypes.java
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/java/dev/amble/ait/core/commands/DalekRaidCommand.java
  src/main/java/dev/amble/ait/core/entities/DalekEntity.java
  src/main/java/dev/amble/ait/core/entities/DalekShipEntity.java
  src/main/java/dev/amble/ait/core/entities/ai/goals/DalekAttackGoal.java
  src/main/java/dev/amble/ait/core/entities/ai/goals/DalekControlTardisGoal.java
  src/main/java/dev/amble/ait/core/entities/ai/goals/DalekNavTardisGoal.java
  src/main/java/dev/amble/ait/core/entities/daleks/Dalek.java
  src/main/java/dev/amble/ait/core/entities/daleks/DalekRegistry.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/java/dev/amble/ait/mixin/server/RaidAccessor.java
  src/main/java/dev/amble/ait/module/gun/core/entity/StaserBoltEntity.java
  src/main/resources/ait.mixins.json
  src/main/resources/assets/ait/sounds/mobs/daleks/dalek_ambiance.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/dalek_death.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/dalek_move.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/imperial/imperial_do_not_move.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/imperial/imperial_exterminate.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/imperial/imperial_exterminate_alt.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/imperial/imperial_fire.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/imperial/imperial_stay.ogg
  src/main/resources/assets/ait/sounds/mobs/daleks/plunger.ogg
  src/main/resources/assets/ait/textures/entity/dalek_ship/dalek_ship.png
  src/main/resources/assets/ait/textures/entity/dalek_ship/dalek_ship_emission.png
  src/main/resources/assets/ait/textures/entity/daleks/classic/classic_dalek.png
  src/main/resources/assets/ait/textures/entity/daleks/classic/classic_dalek_emission.png
  src/main/resources/assets/ait/textures/entity/daleks/commander/commander_dalek.png
  src/main/resources/assets/ait/textures/entity/daleks/commander/commander_dalek_emission.png
  src/main/resources/assets/ait/textures/entity/daleks/imperial/imperial_dalek.png
  src/main/resources/assets/ait/textures/entity/daleks/imperial/imperial_dalek_emission.png
  src/main/resources/assets/ait/textures/entity/daleks/time_war/time_war_dalek.png
  src/main/resources/assets/ait/textures/entity/daleks/time_war/time_war_dalek_emission.png
  src/main/resources/data/ait/entities/dalek/variants/classic.json
  src/main/resources/data/ait/entities/dalek/variants/imperial.json
  src/main/resources/data/ait/entities/dalek/variants/time_war.json
Labels: C: Textures, A: Datagen, size/L, S: Needs Review, C: Audio, A: Admin Tooling

#1873 Fix the experimental warning being shown for release versions
  src/main/java/dev/amble/ait/AITMod.java
Labels: T: Bugfix, T: UI / UX Improvement, size/XS, S: Approved, P3: Standard, C: UI, A: General Interactions

#1896 fix drink client crash
  src/main/java/dev/amble/ait/core/drinks/DrinkUtil.java
  src/main/java/dev/amble/ait/core/item/DrinkItem.java
Labels: T: Bugfix, T: Of Admin Interest, size/S, S: Needs Review, C: Render, A: General Interactions

#1897 fix police box portal
  src/main/java/dev/amble/ait/data/schema/exterior/variant/box/PoliceBoxVariant.java
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/frooploof/police_box_coral_bad_wolf.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/frooploof/police_box_coral_war.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_cherrywood.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_coral.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_default.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_fire.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_futuristic.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_renaissance.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_soul.png
  src/main/resources/assets/ait/textures/blockentities/exteriors/police_box/police_box_toyota_memorial.png
Labels: T: Bugfix, C: Textures, A: Datagen, T: Visual Change, size/XS, S: Approved, P3: Standard, A: General Interactions, C: Chunks

#1899 fix bookshelf exterior BOTI
  src/main/java/dev/amble/ait/client/models/exteriors/BookshelfExteriorModel.java
Labels: T: Bugfix, T: Visual Change, size/XS, S: Approved, P3: Standard, C: Render, A: General Interactions

#1898 add fail notification for '/ait this' command
  src/main/java/dev/amble/ait/core/commands/ThisTardisCommand.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, T: UI / UX Improvement, size/S, S: Approved, P3: Standard, A: Admin Tooling

#1903 Feat/staser-griefing-gamerule
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/module/gun/core/entity/StaserBoltEntity.java
Labels: T: New Feature, T: Of Admin Interest, size/S, S: Approved, A: General Interactions

#1905 fix: removed .nonopaque property from blocks that dont need it
  src/main/java/dev/amble/ait/core/AITBlocks.java
Labels: T: Visual Change, T: Cleanup, size/S, S: Approved, C: Render

#1912 fix: crumple demat sound
  src/main/java/dev/amble/ait/core/AITSounds.java
  src/main/resources/assets/ait/sounds/tardis/crumple.ogg
  src/main/resources/data/ait/fx/animation/type/crumple.json
Labels: S: Untriaged, size/XS, S: Approved, C: Audio

#1914 fix: self destruct sound
  src/main/resources/data/ait/fx/animation/type/self_destruct.json
Labels: S: Untriaged, size/XS, S: Approved, C: No Java

#1915 Feat: Evict players who fall into void without a key when leave-behind is on
  src/main/java/dev/amble/ait/mixin/server/ServerPlayerMixin.java
Labels: T: New Feature, size/S, S: Approved, P3: Standard, A: General Interactions, C: Chunks
