Repository amblelabs/ait, pull requests merged in 2025-05, with the labels that each got.

#1527 feat: updated to windows 11
  src/main/resources/assets/ait/textures/item/exterior_block.png
Labels: C: Textures, S: Untriaged, size/XS, S: Needs Review, C: No Java

#1522 fix: control entity interactions
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/tardis/control/Control.java
Labels: T: Bugfix, size/M, S: Needs Review, S: Approved, A: Tardis Components, A: Console

#1533 Gallifrey Falls Keeps Turning Into Trenzalore, BUT NO MORE I SAY
  src/main/java/dev/amble/ait/client/AITModClient.java
  src/main/java/dev/amble/ait/client/boti/BOTI.java
  src/main/java/dev/amble/ait/client/renderers/entities/BOTIPaintingEntityRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/GallifreyanPaintingEntityRenderer.java
  src/main/java/dev/amble/ait/client/renderers/entities/TrenzalorePaintingEntityRenderer.java
Labels: S: Untriaged, size/M, S: Approved, C: Render

#1531 Fix GUI button deadzones
  src/main/java/dev/amble/ait/client/screens/MonitorScreen.java
  src/main/java/dev/amble/ait/client/screens/SonicSettingsScreen.java
  src/main/java/dev/amble/ait/client/screens/interior/InteriorSettingsScreen.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/textures/gui/tardis/monitor/monitor_gui.png
Labels: T: Bugfix, C: Textures, A: Datagen, T: UI / UX Improvement, T: Visual Change, size/M, S: Needs Review, P3: Standard, D3: Low, C: UI, A: Art

#1535 fix(README): fixed my nickname because nobody here can ever get it right
  CREDITS.md
  README.md
  src/main/resources/fabric.mod.json
Labels: T: Bugfix, A: Docs, size/S, P3: Standard, C: No Java

#1544 re-initialize the executor service on server startup
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/core/tardis/util/AsyncLocatorUtil.java
Labels: T: Bugfix, size/XS, S: Needs Review, A: Tardis Components, A: General Interactions, A: Core Tech

#1543 fixes #1541 pt.2
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintItem.java
  src/main/java/dev/amble/ait/core/item/blueprint/BlueprintRegistry.java
Labels: T: Bugfix, size/S, S: Approved, A: General Interactions

#1542 fix #1541
  src/main/java/dev/amble/ait/core/drinks/DrinkUtil.java
Labels: T: Bugfix, size/XS, S: Approved, A: General Interactions

#1537 add property nullability
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/client/tardis/manager/ClientTardisManager.java
  src/main/java/dev/amble/ait/compat/gravity/GravityHandler.java
  src/main/java/dev/amble/ait/core/tardis/TardisManager.java
  src/main/java/dev/amble/ait/core/tardis/handler/ButlerHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ExtraHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/LandingPadHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SonicHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/StatsHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/AnimatedTravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
  src/main/java/dev/amble/ait/core/tardis/manager/ServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/util/NetworkUtil.java
  src/main/java/dev/amble/ait/core/tardis/util/network/c2s/SyncPropertyC2SPacket.java
  src/main/java/dev/amble/ait/data/properties/Property.java
  src/main/java/dev/amble/ait/data/properties/PropertyType.java
  src/main/java/dev/amble/ait/data/properties/Value.java
  src/main/java/dev/amble/ait/data/properties/bool/BoolProperty.java
  src/main/java/dev/amble/ait/data/properties/dbl/DoubleProperty.java
  src/main/java/dev/amble/ait/data/properties/flt/FloatProperty.java
  src/main/java/dev/amble/ait/data/properties/integer/IntProperty.java
  src/main/java/dev/amble/ait/data/properties/integer/ranged/RangedIntProperty.java
Labels: T: Refactor, size/M, S: Needs Review, C: Networking, A: Tardis Components, A: Core Tech

#1545 lazy multidim world load
  gradle.properties
  src/main/java/dev/amble/ait/AITMod.java
  src/main/java/dev/amble/ait/client/util/ClientTardisUtil.java
  src/main/java/dev/amble/ait/compat/gravity/GravityHandler.java
  src/main/java/dev/amble/ait/core/AITDimensions.java
  src/main/java/dev/amble/ait/core/advancement/TardisCriterions.java
  src/main/java/dev/amble/ait/core/blocks/DoorBlock.java
  src/main/java/dev/amble/ait/core/item/InteriorTeleporterItem.java
  src/main/java/dev/amble/ait/core/tardis/ServerTardis.java
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/tardis/control/sequences/SequenceHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/ButlerHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SeatHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/SonicHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/WaypointHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/distress/DistressCall.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/CrashableTardisTravel.java
  src/main/java/dev/amble/ait/core/tardis/manager/TardisFileManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
  src/main/java/dev/amble/ait/mixin/server/multidim/MultiDimLoadFix.java
  src/main/java/dev/amble/ait/registry/impl/SequenceRegistry.java
  src/main/resources/ait.mixins.json
Labels: T: Performance, size/M, S: Approved, C: Networking, A: Tardis Components, A: Core Tech, C: Chunks, A: Console

#1534 fix: "LINK TO ENGINE VIA FLUID LINKS" being wrong name for artron cables
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
Labels: A: Datagen, T: Visual Change, size/XS, S: Needs Review, S: Approved

#1546 make tardis worlds tick lazily
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: T: Performance, size/XS, S: Approved, A: Tardis Components, A: Core Tech

#1547 no more empty saves
  src/main/java/dev/amble/ait/api/tardis/link/LinkableItem.java
  src/main/java/dev/amble/ait/api/tardis/link/v2/TardisRef.java
  src/main/java/dev/amble/ait/client/tardis/manager/ClientTardisManager.java
  src/main/java/dev/amble/ait/client/util/ClientTardisUtil.java
  src/main/java/dev/amble/ait/core/tardis/TardisManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/TardisFileManager.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/data/TardisMap.java
Labels: T: Bugfix, size/M, S: Approved, A: Tardis Components

#1548 Various perf fixes
  build.gradle
  src/main/java/dev/amble/ait/core/tardis/TardisDesktop.java
  src/main/java/dev/amble/ait/core/tardis/manager/old/DeprecatedServerTardisManager.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
  src/main/java/dev/amble/ait/mixin/server/multidim/MultiDimLoadFix.java
Labels: T: Performance, size/S, S: Approved, Intent: Hotfix, A: Tardis Components, C: Chunks

#1549 revert world border restrictions & add biome caching
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: T: Performance, S: Untriaged, size/S, S: Needs Review, Intent: Hotfix, A: Tardis Components, C: Chunks

#1551 Fix some controls being interact-able during growth state
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/tardis/control/Control.java
Labels: T: Bugfix, size/XS, size/S, S: Approved, P3: Standard, D3: Low, A: Tardis Components, A: Console

#1553 fix sticky controls being bypass-able via left-click
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
Labels: T: Bugfix, size/S, S: Needs Review, P3: Standard, D3: Low, A: Console

#1554 updated classic_hudolin textures
  src/main/resources/assets/ait/textures/blockentities/exteriors/classic/classic_hudolin.png
Labels: C: Textures, S: Untriaged, size/XS, S: Approved, C: No Java

#1559 Theo's performance fixes ch1: epilogue
  gradle.properties
  src/main/java/dev/amble/ait/core/advancement/TardisCriterions.java
  src/main/java/dev/amble/ait/core/blockentities/DoorBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/blockentities/control/ControlBlockEntity.java
  src/main/java/dev/amble/ait/core/entities/ConsoleControlEntity.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/ElectricalDischargeControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/EngineOverloadControl.java
  src/main/java/dev/amble/ait/core/tardis/control/impl/FoodCreationControl.java
  src/main/java/dev/amble/ait/core/tardis/handler/InteriorChangingHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/RealFlightHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandlerBase.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/core/util/SafePosSearch.java
  src/main/java/dev/amble/ait/core/util/WorldUtil.java
Labels: T: Performance, S: Approved, A: Tardis Components, A: Console

#1563 fix: handle world load failure better
  gradle.properties
  src/main/java/dev/amble/ait/core/AITDimensions.java
  src/main/java/dev/amble/ait/core/tardis/ServerTardis.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: T: Bugfix, size/S, S: Approved, A: Tardis Components, A: Core Tech

#1565 fix: siege held uuid backwards compat
  src/main/java/dev/amble/ait/core/blockentities/ExteriorBlockEntity.java
  src/main/java/dev/amble/ait/core/item/SiegeTardisItem.java
  src/main/java/dev/amble/ait/core/tardis/handler/SiegeHandler.java
Labels: T: Bugfix, size/S, S: Approved, A: Tardis Components

#1567 add new splashes
  src/main/resources/assets/minecraft/texts/splashes.txt
Labels: T: Visual Change, size/S, S: Needs Review, C: No Java, A: General Interactions
