Repository amblelabs/ait, pull requests merged in 2025-10, with the labels that each got.

#1906 Feat/improved block textures
  src/main/java/dev/amble/ait/core/AITBlockEntityTypes.java
  src/main/java/dev/amble/ait/core/AITBlocks.java
  src/main/java/dev/amble/ait/datagen/AITModDataGenerator.java
  src/main/resources/assets/ait/blockstates/cable_connector_block.json
  src/main/resources/assets/ait/blockstates/full_cable_block.json
  src/main/resources/assets/ait/models/block/cable_connector_block.json
  src/main/resources/assets/ait/models/block/full_cable_block.json
  src/main/resources/assets/ait/models/block/landing_pad.json
  src/main/resources/assets/ait/models/item/cable_connector_block.json
  src/main/resources/assets/ait/models/item/full_cable_block.json
  src/main/resources/assets/ait/textures/block/artron_cable_connector.png
  src/main/resources/assets/ait/textures/block/landing_pad_side.png
  src/main/resources/assets/ait/textures/block/landing_pad_top.png
  src/main/resources/assets/ait/textures/block/piping.png
  src/main/resources/assets/ait/textures/block/piping_full.png
  src/main/resources/assets/ait/textures/block/redstone_control/punch_off.png
  src/main/resources/assets/ait/textures/block/redstone_control/punch_on.png
  src/main/resources/assets/ait/textures/block/redstone_control/use_off.png
  src/main/resources/assets/ait/textures/block/redstone_control/use_on.png
Labels: C: Textures, A: Datagen, T: Visual Change, size/M, S: Approved, A: Art, C: Translations

#1916 no more missing desktop crash
  src/main/java/dev/amble/ait/client/screens/interior/InteriorSettingsScreen.java
Labels: T: Bugfix, size/XS, S: Approved

#1900 fix random crashes
  src/main/java/dev/amble/ait/core/blockentities/DoorBlockEntity.java
  src/main/java/dev/amble/ait/core/blocks/DoorBlock.java
  src/main/java/dev/amble/ait/core/tardis/TardisExterior.java
  src/main/java/dev/amble/ait/core/tardis/handler/ChameleonHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/DoorHandler.java
  src/main/java/dev/amble/ait/core/tardis/handler/travel/TravelHandler.java
  src/main/java/dev/amble/ait/core/tardis/util/TardisUtil.java
  src/main/java/dev/amble/ait/core/world/TardisServerWorld.java
Labels: size/M, S: Approved, C: Networking, A: Tardis Components, A: Core Tech
